<div data-ng-controller="ChangePasswordController">
	<div class="loading-widget-div" data-ng-show="blockUI">
        <div id="circularG">
        	<div id="circularG_1" class="circularG"></div><div id="circularG_2" class="circularG"></div>
            <div id="circularG_3" class="circularG"></div><div id="circularG_4" class="circularG"></div>
            <div id="circularG_5" class="circularG"></div><div id="circularG_6" class="circularG"></div>
            <div id="circularG_7" class="circularG"></div><div id="circularG_8" class="circularG"></div>
        </div>
     </div><br/>
	<div class="headersdiv" >
	  <h3><b class="marginleft10">{{'label.change.password'|translate}}</b></h3>
	</div>
<form name="changePwdForm" novalidate class="form-horizontal well"  data-ng-submit="submit()">
<br/>
 <div class="error" data-ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
	<fieldset>
		<table>
			<tr>
				<td>
					<div class="control-group">
						<label class="control-label" for="currentPwd">{{'label.current.password'|translate}}<span class="required">*</span></label>
						<div class="controls">
							<input type="password" id="currentPwd" name="currentPwd" data-ng-model="currentPassword" data-ng-onblur="currentPasswordCheck()" required  data-late-Validate/>
							<div data-ng-show="retype_currentpwd_valid">
			        			<small class="error" >{{'form.error.password.match'|translate}}</small>
			    			</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="control-group">
						<label class="control-label" for="password">{{'label.new.password'|translate}}<span class="required">*</span></label>
						<div class="controls">
							<input type="password" id="pwd" name="password" data-ng-model="pwdData.newPassword" data-ng-change="passwordCheck()" required  data-late-Validate/>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="control-group">
						<label class="control-label" for="re-password">{{'label.confirm.password'|translate}}<span class="required">*</span></label>
						<div class="controls">
							<input type="password" id="re-pwd" name="re-password" data-ng-model="pwdData.confirmPassword" data-ng-change="passwordCheck()" required  data-late-Validate/>
							<div data-ng-show="retype_pwd_valid">
			        			<small class="error" >{{'form.error.password.match'|translate}}</small>
			    			</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
			 <td align="right">
				<a id="cancel" href="#/profile"><button type="reset" class="btn">{{'btn.cancel' | translate}}</button></a>
				<button id="submit" type="submit" data-ng-disabled="!changePwdForm.$valid" class="btn btn-primary">{{'btn.save' | translate}}</button>
			  </td>
			</tr>
		</table>	
	</fieldset>
</form>
</div>
