<div data-ng-controller="EventsController">
 <div class="loading-widget-div" data-ng-show="blockUI">
        <div id="circularG">
        	<div id="circularG_1" class="circularG"></div><div id="circularG_2" class="circularG"></div>
            <div id="circularG_3" class="circularG"></div><div id="circularG_4" class="circularG"></div>
            <div id="circularG_5" class="circularG"></div><div id="circularG_6" class="circularG"></div>
            <div id="circularG_7" class="circularG"></div><div id="circularG_8" class="circularG"></div>
        </div>
     </div><br/>    
 	<div class="row-fluid margintop10">
		<div class="headersdiv" >
		  <h3><b class="marginleft10">{{'label.ondemands'|translate}}</b></h3>
		   <input type="text"  class="search-query span3 pull-right inputserach" data-ng-model="filterText1"  
		   		style="width:170px;min-height: 22px;" placeholder="{{ 'placeholder.enter.text.search' | translate }}">
		    <a href="#/addevents" class="btn btn-primary pull-right marginright20 margintop5">
		    	<i class="icon-plus-sign icon-white"></i>{{'label.vod.add.event' | translate}}</a>
		</div>
		<div><table class="table margintop10">
	        <thead>
	            <tr class="graybg drakgraybg">
	                <th>{{'table.header.listvod.eventname'|translate}}</th>
	                <th>{{'table.header.listvod.bookeddate'|translate}}</th>
	                <th>{{'table.header.listvod.eventprice'|translate}}({{currencyCode}})</th>
	                <th>{{'table.header.listvod.status'|translate}}</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr data-ng-repeat="vodData in VODSDatas.currentPageItems  | customFilter: filterText1 : ['eventName','bookedDate','eventPrice','status']" >
	                <td style="font-weight: inherit;color: #555555;">{{vodData.eventName}}</td>
	                <td>{{vodData.bookedDate | DateFormat}}</td>
	                <td>{{vodData.eventPrice}}</td>
	                <td><i class="icon-stop {{vodData.status | StatusLookup}}"></i>&nbsp;{{vodData.status}}</td>
	            </tr>
	        </tbody>
	    </table></div>
	    <ul class="pager">
			<li class="previous"><a data-ng-click="VODSDatas.previous()" data-ng-disabled="!VODSDatas.hasPrevious()">&larr;{{'btn.previous'|translate}}</a></li>
			<li class="next" ><a data-ng-click="VODSDatas.next()" data-ng-disabled="!VODSDatas.hasNext()">{{'btn.next'|translate}} &rarr;</a></li>
    	</ul>
	</div>
</div>