<div data-ng-controller="PaymentProcessController">
   <div class="loading-widget-div" data-ng-show="blockUI">
	   <div id="circularG">
	      <div id="circularG_1" class="circularG"></div><div id="circularG_2" class="circularG"></div>
	       <div id="circularG_3" class="circularG"></div><div id="circularG_4" class="circularG"></div>
	       <div id="circularG_5" class="circularG"></div><div id="circularG_6" class="circularG"></div>
	       <div id="circularG_7" class="circularG"></div><div id="circularG_8" class="circularG"></div>
	   </div>
    </div>
   <div class="error" data-ng-show="errorStatus || errorDetails">
	  <label>{{'label.contract.error' | translate}}</label>
	  <label data-ng-show="errorStatus">{{errorStatus}}</label>
	  <label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
   </div>
   <div class="error" data-ng-show="errorRecurring == 'error.msg.paypal.recurring.notpossible'"><br/>
	  <label>{{'label.contract.error' | translate}}</label>
	  <label>{{errorRecurring | translate}}</label>
   </div>
    <br/><br/>
     <div class="alert alert-success" data-ng-show="isRedirecting">
	   <table><tr>
	   		<td><span><img src="../images/info-icon.png" width="30"></span></td>
        		<td><span><strong class="marginleft40" ><i class="icon-refresh icon-spin"></i>
        				{{'title.redirecting'|translate}}</strong><br/>
        			</span>
        		</td></tr>
	   </table> 
	</div>
    <table data-ng-hide="price == 0">
	  <tr>
	  	<td>
			<div id="packageSelection" class="stepProcess marginleft8 done">
				<i class="icon-shopping-cart icon-large"></i> {{'header.package.selection'|translate}}
			</div>
		</td>
		<td valign="top" style="padding:20px 0 0 25px;">
			<i class="icon-arrow-right icon-xlarge"></i>
		</td>
		<td>
			<div id="paymentSelection" class="stepProcess offset1 selected">
				<i class="icon-usd"></i>{{'header.payment'|translate}}
			</div>
		</td>
	  </tr>
	</table>
    <div>
		<table class="table" data-ng-if="screenName != 'additionalorders'">
			<thead>
		           <tr class="graybg">
					<th>{{'header.plan.name'|translate}}</th>
					<th>{{'header.contract.period'|translate}}</th>
					<th data-ng-if="planData.isPrepaid=='N'">{{'header.contract.billingfrequency'|translate}}</th>
					<th>{{'header.price'|translate}}</th>
					<th>{{'header.finalprice'|translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="font-weight: inherit;color: #555555;" class="bigfont">{{planData.planCode}}</td>
					<td class="bigfont" data-ng-if="planData.isPrepaid=='Y'">{{planData.duration}}</td>
					<td class="bigfont" data-ng-if="planData.isPrepaid=='N'">{{contractPeriod}}</td>
					<td class="bigfont" data-ng-if="planData.isPrepaid=='N'">{{planData.billingFrequency}}</td>
					<td class="bigfont">{{planData.price}}({{currencyCode}})</td>
					<td class="bigfont">{{price}}({{currencyCode}})</td>
				</tr>
			</tbody>
			
		</table>
		<table class="table" data-ng-if="screenName == 'additionalorders'">
			<thead>
		           <tr class="graybg">
					<th>{{'header.plan.name'|translate}}</th>
					<th>{{'header.contract.period'|translate}}</th>
					<th data-ng-if="planType=='N'">{{'header.contract.billingfrequency'|translate}}</th>
					<th>{{'header.price'|translate}}({{currencyCode}})</th>
					<th>{{'header.finalprice'|translate}}({{currencyCode}})</th>
					<!-- <th>Action</th> -->
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="planData in plansData">
					<td style="font-weight: inherit;" class="bigfont"><span style="color: #0088cc;">{{planData.planCode}}</span></td>
					<td class="bigfont" data-ng-if="planType!='N'">{{planData.duration}}</td>
					<td class="bigfont" data-ng-if="planType=='N'">{{planData.contractPeriod}}</td>
					<td class="bigfont" data-ng-if="planType=='N'">{{planData.billingFrequency}}</td>
					<td class="bigfont">{{planData.price}}</td>
					<td class="bigfont">{{planData.finalAmount}}</td>
					<!-- <td>
						<a data-ng-click="deleteSelectionPlan(planData.id)" data-popover="Remove" data-popover-trigger="mouseenter">
                    		<i class="icon-remove icon-white"></i>
                    	</a>
                    </td> -->
				</tr>
				<tr></tr>
				<tr>
					<td></td>
					<td data-ng-if="planType=='N'"></td>
					<td style="font-size:22px;text-align: right;padding-right: 30px;"><strong style="">{{'label.amount.total'|translate}}&nbsp;:</strong></td>
					<td><strong style="font-size:22px">{{actualPlansPrice}}</strong></td>
					<td><strong style="font-size:22px">{{finalPlansPrice}}</strong></td>
				</tr>
			</tbody>
			
		</table>
		<br/>
		<div class="offset1" style="margin-top: 35px;" data-ng-show="price != 0">
		   <table class="fullwidth">
			  <tr>
   				<td width="42%" class="bigfont" valign="top">
   						{{'label.select.payment.gateway' | translate}}&nbsp;&nbsp;:
   				</td>
       			<td>
       				<div data-ng-repeat="paymentgatewayData in paymentgatewayDatas track by $index" class="marginbottom10">
       					<input type="radio" id="{{paymentgatewayData.name}}" name="selectPWName" class="radioalign" data-ng-model="paymentGatewayName" 
       					   value="{{paymentgatewayData.name}}" data-ng-click="paymentGatewayFun(paymentgatewayData.name)"/>&nbsp;
      					   <label for="{{paymentgatewayData.name}}" class="inlinedis pointer">
      								<img src="../images/{{paymentgatewayData.name}}.jpg" width="110px;">&nbsp;
      					   </label><br/>
      					  <!-- <div data-ng-show="paymentgatewayData.name==paypalPG" class="marginleft30">
      					   	 <div data-ng-show="paypalType">
      					   	  	<input style="vertical-align: sub;" type="radio" name="paypalTypeName" data-ng-click="paypalRecurringTypeNameFun('NormalType')"/>&nbsp;Normal&nbsp;
      					   	  <input style="vertical-align: sub;" type="radio" name="paypalTypeName" data-ng-click="paypalRecurringTypeNameFun('RecurringType')"/>&nbsp;Recurring&nbsp;
	      					  </div>
      					   </div>  -->
       				</div>
       				<div class="error" data-ng-show="paymentGatewayName==''" style="font-size: 1.5em;margin-top: 0px;">
       					 {{'label.notselect.payment.gateway' | translate}}<br/><br/>
       					 {{'label.atleast.one.payment.gateway' | translate}}
       				</div> 
       			</td>
          	  </tr>
          	  <tr data-ng-hide="paymentGatewayName==''">
          	  	 <td width="42%"></td>
          	     <td>
          	       <div class="control-group margintop20">
					 <div class="controls">
					    <input type="checkbox" name="checkbox" data-ng-model="termsAndConditions" style="vertical-align: sub;"> 
					    <span> {{'label.agree' | translate}} <a data-ng-click="termsAndConditionsFun()" style="color: #0066cc;text-decoration: underline;">
					    		{{'label.Terms.Conditions' | translate}}</a> 
					    </span>
					</div>
				   </div> 
          	     </td>
          	  </tr>
          	  <tr data-ng-hide="paymentGatewayName==''" >
          	    <td style="padding-top: 30px;" align="right">
          	      <div><a  data-ng-click="isRedirecting || goBack()" class="btn" >{{'btn.cancel' | translate}}</a></div> 
          	    </td>
       		 	<td style="padding-top: 30px;" >
      		 	   <div >
					  <a class="btn btn-primary" data-ng-hide="termsAndConditions&&errorRecurring==''" data-ng-disabled="true">{{'btn.proceed' | translate}}</a>
					  <a class="btn btn-primary" href="{{paymentURL}}" data-ng-show="termsAndConditions&&errorRecurring==''">
					  	{{'btn.proceed' | translate}}
					  </a>
				   </div>
				   
       		 	</td>
          	  </tr>
          	  <tr data-ng-show="paymentGatewayName==''" >
          	  	<td style="padding-top: 30px;" colspan="2" align="right">
          	      <div><a  data-ng-click="goBack()" class="btn" >{{'btn.cancel' | translate}}</a></div> 
          	    </td>
          	  </tr>
          	</table>
       	 </div>
      </div>
      <div data-ng-show="price == 0">
              <br/>
	       <div class="pull-right">
				<a data-ng-click="goBack()" class="btn">{{'btn.cancel' | translate}}</a> 
				<a href="#/orderbookingscreen/{{screenName}}/{{clientId}}/{{planId}}/{{priceId}}?amount={{price}}" class="btn btn-primary animated fadeInUp">{{'btn.subscribe' | translate}}</a>
			</div> 
			 
	   </div>
	   <script type="text/ng-template" id="termsandconditions.html">
		<form  class="form-horizontal well" style="border:0px;width:550px;padding:10px;">
			<h4><strong>{{'label.terms.conditions' | translate}}</strong></h4>
			<div>{{'label.read.agreement' | translate}}</div><br/>
			<div style="max-height:300px; overflow-y:auto;border:1px solid;padding:10px;">
				{{termsAndConditionsText}}
		   </div><br/>
		 <table class="fullwidth"><tr><td align="center"><div><a data-ng-click="done()" class="btn btn-primary">Done</a></div></td></tr></table>
		</form>
      </script>
</div>