<div data-ng-controller="PaypalRedirectionController" >
	<br/><br/><br/>
	<div class="error" data-ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	</div>
  <div data-ng-hide="errorStatus || errorDetails">
	<div class="alert alert-success" data-ng-show="blockUI">
	   <table><tr>
	   		<td><span><img src="../images/info-icon.png" width="30"></span></td>
        		<td><span><strong class="marginleft40" ><i class="icon-refresh icon-spin"></i>
        				{{'label.pleasewait'|translate}}</strong><br/>
        			</span>
        		</td></tr>
	   </table> 
	</div>
	</div>
</div>