<div data-ng-controller="PostpaidPlansController">
	 <div style="height:430px;overflow-y:auto;" data-ng-if="screenName != 'additionalorders'">
	 	<div data-ng-repeat="plan in plansData track by $index" data-ng-show="plan.pricingData.length!=0"> 
	 	  <div class="packbox6" style="height:210px;">
	 	    <div class="ribbon ribbon-small ribbonred">
				<div class="banner">
					<div class="text">postpaid</div>
				</div>
			</div>
			<h1 style="line-height: 25px;">{{plan.planCode}}
			<a data-ng-click="viewPlanServices(plan.planId)" style="color:#fff;text-transform: lowercase;"> ({{'label.view' | translate}}) </a></h1>
			<ul style="margin: 0 0 0 0px;padding: 5px 2px 0px 2px;" data-ng-class="{newpostpboxh:plan.isPrepaid == 'N'}">
			  <li data-ng-repeat="priceData in plan.pricingData track by $index" class="nonecontent" style="margin-left: 15px;">
				<input type="radio" name="addPackRadio" style="vertical-align: sub;" data-ng-model="priceId" data-ng-click="durationSelectionFun(priceData,plan.planId)" data-ng-value="priceData.id">&nbsp;
				<span style="font-size: 14px;">
					<span>{{priceData.billingFrequency}}</span><span style="color:blue;">({{priceData.price}}&nbsp;{{currencyCode}})</span>
				</span>
			  </li>
			</ul>
			<div>
			   <div class="marginleft10" style="height: 21px;">
				<strong data-ng-show="contractPeriod && plan.planId ==planId">{{'table.header.contractperoid'|translate}}&nbsp;:&nbsp;
				<span class="lightbluecolor" >{{contractPeriod}}</span></strong> 
			   </div>
			  <button data-ng-show="screenName == 'additionalorders'" data-ng-click="checkingRecurringStatus(plan.autoRenew)"
					class="btn btn-primary" style="margin-left: 15px;padding:1px 5px; "><i class="icon-plus icon-white"></i>
				{{'btn.add.pack' | translate}}
			  </button>
			  <button data-ng-show="screenName == 'changeorder'" data-ng-click="checkingRecurringStatus(plan.autoRenew)"
					class="btn btn-primary" style="margin-left: 15px; padding:1px 5px;"><i class="icon-retweet icon-white"></i>
				{{'btn.change.pack' | translate}}
			  </button>
			  <button data-ng-show="screenName == 'renewalorder'" data-ng-click="checkingRecurringStatus(plan.autoRenew)"
					class="btn btn-primary" style="margin-left: 15px; padding:1px 5px;"><i class="icon-arrow-up icon-white"></i>
				{{'btn.topup.pack' | translate}}
			  </button>
			</div>
		  </div>
	   </div>
	 </div>
	 <table data-ng-if="screenName == 'additionalorders'">
	   <tr>
	    <td style="font-weight: 100;padding: 0" valign="top">
		  <div style="height:430px;width:740px;overflow-y:auto;" >
		 	<div data-ng-repeat="plan in plansData track by $index" data-ng-show="plan.pricingData.length!=0"> 
			 <div class="packbox6" style="height:210px;">
		 	  	 <div class="ribbon ribbon-small ribbonred">
					<div class="banner">
						<div class="text">postpaid</div>
					</div>
				 </div>
				<h1 style="line-height: 25px;">{{plan.planCode}}
				<a data-ng-click="viewPlanServices(plan.planId)" style="color:#fff;text-transform: lowercase;"> ({{'label.view' | translate}}) </a></h1>
				<ul style="margin: 0 0 0 0px;padding: 5px 2px 0px 2px;" class="newpostpboxh">
				  <li data-ng-repeat="priceData in plan.pricingData track by $index" class="nonecontent" style="margin-left: 15px;">
					<input type="checkbox" name="addPackCheckbox" style="vertical-align: sub;" data-ng-model="priceData.isCheck" data-ng-change="durationCheckboxSelectionFun(priceData,$index)"
					 data-ng-true-value="yes" data-ng-false-value="no">&nbsp;
					<span style="font-size: 14px;">
						<span>{{priceData.billingFrequency}}</span><span style="color:blue;">({{priceData.price}}&nbsp;{{currencyCode}})</span>
					</span>
				  </li>
				</ul>
				<div>
				   <div class="marginleft10" style="height: 21px;">
					<strong data-ng-show="contractPeriod && plan.planId ==planId">{{'table.header.contractperoid'|translate}}&nbsp;:&nbsp;
					<span class="lightbluecolor" >{{contractPeriod}}</span></strong> 
				   </div>
				  <button data-ng-click="pushCheckoutListFun(plan.planId)"
						class="btn btn-primary" style="margin-left: 15px;padding:1px 5px; "><i class="icon-plus icon-white"></i>
					{{'btn.add.pack' | translate}}
				  </button>
				</div>
			 </div>
		   </div>
		 </div>
	    </td>
	    <td valign="top" style="padding: 0">
		   <div>
				<div class="packbox6" style="min-height:400px;">
					<h1 style="line-height: 25px;text-align: center;">Your Selected Packs Checkout List</h1>
					<span>The changes you make to your packs (add/drop packs) will reflect on the section below. Please click on submit, to add your Subscription Package as follows:</span>
					 <div data-ng-repeat="previewCheckoutList in previewCheckoutList" style="margin:10px 5px;">
					  <div style="font-size: 18px;">
						<strong >{{previewCheckoutList.planCode}}</strong>
						<strong style="float: right;" class="lightbluecolor">{{previewCheckoutList.price}}(&nbsp;{{currencyCode}})</strong><br/>
						<span style="font-size: 15px;">[{{previewCheckoutList.billingFrequency}}(BF)&nbsp;{{previewCheckoutList.contractPeriod}}(CP)]</span>
					  </div>
					</div>
					<div data-ng-if="previewCheckoutList.length==0" class="error" style="margin-top:30px; ">
						No Selection list available
					</div>
					<div style="font-size: 18px;margin:10px 5px 10px 0px;">
						<strong >Total&nbsp;:</strong>
						<strong style="float: right;" class="lightbluecolor">{{totalAmount}}(&nbsp;{{currencyCode}})</strong>
					</div>
				</div>
				<div style="float: right;margin-right: 10px;">
					<button class="btn btn-primary" style="padding:4px 5px;" data-ng-click="resetSelectionFun()">Reset<i class="icon-ban-circle icon-white"></i>
				 	</button>
					<button class="btn btn-primary" style="padding:4px 5px;" data-ng-click="submitFun()">Submit<i class="icon-forward icon-white"></i>
				 	</button>
				</div>
			</div>
		</td>
	  </tr>
	</table>
<script type="text/ng-template" id="viewcontractperiods.html">
		
	<div class="modal-header silver">
        <h3 class="bolder">{{'label.contract.selection' | translate}}</h3>
    </div>
    <div class="modal-body" style="height:300px;">
       	<fieldset>
			<div class="error" data-ng-show="errorStatus || errorDetails">
		  		<label>{{'label.contract.error' | translate}}</label>
		  		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		  		<label data-ng-hide="errorStatus"data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    	</div>
			<div class="control-group">
           		 <label class="control-label" for="status">{{ 'label.contract.period' | translate }}<span class="required">*</span></label>
            	<div class="controls">
            	  	<select ng-model="contractPeriod" ng-options="subscriptiondata.id as subscriptiondata.Contractdata for subscriptiondata in subscriptiondatas">
					</select>
            	</div>
     		</div>
  		  </fieldset>
     </div>
     <div class="modal-footer">
        <button id="cancel" class="btn" ng-click="cancel()">{{'btn.cancel' | translate}}</button>
     	<button id="submit" class="btn btn-primary" ng-click="approve(contractPeriod)">{{'label.confirm' | translate}}</button>
      </div>
</script>
</div>