<div data-ng-controller="DisbursementsController" >
<div>
	<ul class="breadcrumb">
		<li class="active">Disbursements</li>
	</ul>
</div>

<div class="row-fluid" >
	<div class="span marginbottom0px">
	<select id="sourceDatas" data-ng-model="searchData.sourceType" chosen="sourceDatas" data-ng-autofocus="true" style="background: url("../images/chosen-sprite.png");" 
		data-ng-options="sourceData.mCodeValue as sourceData.mCodeValue for sourceData in sourceDatas track by sourceData.id" data-placeholder="Source Type" value="{{sourceData.mCodeValue}}">  
		 <option class="displaynone" value="">---Source Type---</option>
	</select>
	<select id="patnerDatas" data-ng-model="searchData.partnerType" chosen="patnerDatas" data-ng-autofocus="true" style="background: url("../images/chosen-sprite.png");" 
		data-ng-options="patnerData.partnerName as patnerData.partnerName for patnerData in patnerDatas" data-placeholder="Partner Type" value="{{patnerData.partnerName}}">  
		 <option class="displaynone" value="">---Partner Type---</option>
	</select>
	
    <a data-ng-click="search()" class="btn btn-primary control" data-popover="Search" data-popover-placement="bottom"  data-popover-trigger="mouseenter"><i class="icon-search icon-white"></i></a>
    <a data-ng-click="clearFilters()" class="btn btn-primary control" data-popover="Clear" data-popover-placement="bottom"  data-popover-trigger="mouseenter"><i class="icon-remove-sign"></i></a>
	<input data-ng-model="filterText" type="text" data-ng-autofocus="true" class="span marginbottom0px" placeholder="{{'placehoder.searchbar' | translate}}">
	</div>
		<table class="table">
			<thead>
				<tr class="graybg">
					<th>Id</th>
					<th>Partner Name</th>
					<th>Transaction Date</th>
					<th>Source</th>
					<th>Charge Amount</th>
					<th>Commission Type</th>
					<th>Commission Rate</th>
					<th>Commission Amount</th>
					
				</tr>
			</thead>
			<tbody>
				<tr  data-ng-repeat="patnerDisbursementData in patnerDisbursementData.currentPageItems | filter:filterText">
					<td >{{patnerDisbursementData.id}}</td>
					<td >{{patnerDisbursementData.partnerName}}</td>
					<td >{{patnerDisbursementData.transDate |DateFormat}}</td>
					<td >{{patnerDisbursementData.source}}</td>
					<td >{{patnerDisbursementData.netAmount}}</td>
					<td >{{patnerDisbursementData.percentage}}</td>
					<td >{{patnerDisbursementData.shareAmount}}</td>
					<td >{{patnerDisbursementData.commissionAmount}}</td>
					
				</tr>
			</tbody>
		</table>
		<ul class="pager">
   			<li class="previous"><a data-ng-click="patnerDisbursementData.previous()" href="" data-ng-disabled="!patnerDisbursementData.hasPrevious()">&larr; Prev</a></li>
   			<li class="next" ><a data-ng-click="patnerDisbursementData.next()" href="" data-ng-disabled="!patnerDisbursementData.hasNext()">Next &rarr;</a></li>
		</ul>
	</div>
 </div> 


          
	