<div class="row paddedleft paddedtop" ng-controller="OfficesModuleController">
  <div class="span6">
	  <div class="list-group">
	  	<a class="list-group-item" href="#/addressmanage" ng-show="PermissionService.showMenu('READ_LOCATION')">
	      <h4 class="list-group-item-heading"><i class="icon-list icon-large"></i>&nbsp;&nbsp;Address Master</h4>
	      <p class="list-group-item-text">Manage Geographical Address heirarchy</p>
	    </a> 
	  </div>    
  </div>
   <div class="span6">
	  <div class="list-group">
	  <a class="list-group-item" href="#/vendormanagement">
	      <h4 class="list-group-item-heading"><i class="icon-globe icon-large"></i>&nbsp;&nbsp;Vendor Management</h4>
	      <p class="list-group-item-text">Vendor Management and Agreements</p>
	    </a>
	  </div> 
  </div>
</div>