<div>
    <ul class="breadcrumb">
        <li class="active">{{'label.paymentgatewayconfigurations' | translate}}</li>
    </ul>
</div>
<div class="row-fluid" data-ng-controller="PaymentGatewayConfigurationController">
    <input data-ng-model="filterText" type="text" class="span marginbottom0px" placeholder="{{'label.filterbyname' | translate}}">
    <table class="table">
        <thead>
        <tr class="graybg">
            <th>{{'label.form.name' | translate}}</th>
            <th>{{'label.enabled' | translate}}</th>
            <th>{{'label.value' | translate}}</th>
            <th>{{'table.action' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="config in configs  | filter:filterText">
            <td>{{config.name}}</td>
            <td>{{config.enabled}}</td>
            <td style="word-break:break-all;">{{config.value}}</td>
            <td><button type="button" class="btn btn-success flag" data-ng-hide="config.enabled" data-ng-click="enable(config.id)"><i class="icon-flag-alt"></i></button>
                <button type="button" class="btn btn-danger flag" data-ng-show="config.enabled" data-ng-click="disable(config.id)"><i class="icon-remove"></i></button>
           		<a data-ng-show="config.value" data-ng-click="edit(config.id,config.name,config.value)" data-popover="Edit" data-popover-trigger="mouseenter"><i class="icon-edit icon-white"></i></a></td>        
        </tr>
        </tbody>
    </table>
    
	<script type="text/ng-template" id="editgeneral.html">

	   <div class="modal-header silver">
          <h3 class="bolder">{{'label.pgconfig.edit' | translate}}</h3>
        </div>
	 	<form name="editGeneralForm" novalidate="" class="form-horizontal well" ng-submit="submit()">
        <div class="modal-body">
			 <div class="error" ng-show="errorStatus || errorDetails">
				<label>{{'label.contract.error' | translate}}</label>
				<label ng-show="errorStatus">{{errorStatus}}</label>
				<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	   		 </div>
 		  <fieldset>
           	<div class="control-group">
				<label class="control-label">{{'label.pgconfig.generalForm.value' | translate}}<span class="required">*</span> :</label>
			 	<div class="controls">
              		<input type="text" name="value" ng-model="formData.value" placeholder="enter value here" required late-Validate/><br>
                    <span ng-show="editGeneralForm.value.$invalid">
                    	<small class="error" ng-show="editGeneralForm.value.$error.req">
                        	Required Field
                    	</small>
                   </span>
            	</div>
           	</div>
		  </fieldset>
        </div>
        <div class="modal-footer">
          <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
     	  <button id="submit" type="submit" class="btn btn-primary" ng-disabled="(!editGeneralForm.$valid)" >{{'label.confirm' | translate}}</button>
        </div>
	</form>
	</script>
	
	<script type="text/ng-template" id="editconfig.html">
	   <div class="modal-header silver">
          <h3 class="bolder">{{'label.pgconfig.editconfig' | translate}}</h3>
       </div>
       <div class="modal-body">
			 <div class="error" ng-show="errorStatus || errorDetails">
				<label>{{'label.contract.error' | translate}}</label>
				<label ng-show="errorStatus">{{errorStatus}}</label>
				<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	   		 </div>
			<table class="fullwidth">
				<tr>
					<th>key</th>
					<th></th>
					<th>Value</th>
					<th></th>
				</tr>
				<tr>
					<td colspan="4"><hr style="margin:10px 0"></td>
				</tr>
				<tr data-ng-show="keyValues.length == 0">
					<td colspan="4" align="center" class="required">No Key Value Pairs</td>
				</tr>
				<tr data-ng-repeat="keyValue in keyValues">
					<td><input type="text" class="configParam{{keyValue.key}}" name="url" ng-model="keyValue.key" placeholder="enter key here" input-disabled="{{keyValue.disable}}"/></td>
					<td valign="top" style="padding-top:5px;"><strong>:</strong></td>
            		<td><input  type="text" class="configParam{{keyValue.key}}" name="url" ng-model="keyValue.value" placeholder="enter value here" input-disabled="{{keyValue.disable}}"/></td>
					<td  valign="top" style="padding-top:5px;">
						<a data-ng-click="editConfigParams($index,keyValue.key)" data-ng-hide="!keyValue.disable"><i class="icon-edit icon-white"></i></a>
						<a data-ng-click="deleteConfigParams($index)" ><i class="icon-remove icon-white"></i></a>
						<a data-ng-click="createConfigParams()" ng-show="$last"><i class="icon-plus icon-white"></i></a>
					</td>
		  		</tr>
				<tr>
					<td colspan="3" align="right">
          				<button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
     	  				<button id="submit" type="submit" class="btn btn-primary" ng-click="submit()">{{'button.save' | translate}}</button>
					</td>
				</tr>
			</table>
        </div>
	</script>

    
    
</div>