<div ng-controller="UserListController">
<div>

 <ul class="breadcrumb">
        <li><a href="#/system">{{'link.admin.system' | translate}}</a> <span class="divider">/</span></li> 
          <li class="active">{{'link.admin.users' | translate}}</li>
</ul> 
    <div class="pull-right">
        <a ng-show="PermissionService.showMenu('CREATE_USER')" href="#/createuser" class="btn btn-primary"><i class="icon-plus icon-white"></i> Create User</a>

    </div>
</div>

<div class="row-fluid">
    <input ng-model="filterText" type="text" class="span marginbottom0px" placeholder="Filter by name">
	<table class="table">
        <thead>
            <tr class="graybg">

                <th>{{'label.username' | translate}}</th>
                <th>{{'label.user.firstname' | translate}}</th>
                <th>{{'label.user.lastname' | translate}}</th>
                <th>{{'label.user.email' | translate}}</th>
                <th>{{'label.user.mobile' | translate}}</th>
                <th>{{'label.user.officename' | translate}}</th>
                <th>{{'table.actions' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="pointer-main" ng-repeat="user in users | filter:filterText">
                <td class="pointer" data-ng-click="routeTo(user.id)">{{user.username}}</td>            
                <td class="pointer" data-ng-click="routeTo(user.id)">{{user.firstname}}</td>            
                <td class="pointer" data-ng-click="routeTo(user.id)">{{user.lastname}}</td>            
                <td class="pointer" data-ng-click="routeTo(user.id)">{{user.email}}</td>       
                <td class="pointer" data-ng-click="routeTo(user.id)">{{user.mobile}}</td> 
                <td class="pointer" data-ng-click="routeTo(user.id)">{{user.officeName}}</td>
                <td><a ng-show="PermissionService.showMenu('UPDATE_USER')" href="#/edituser/{{user.id}}" popover="Edit" popover-trigger="mouseenter" class="icon-edit"></a>&nbsp;
                <a ng-show="PermissionService.showMenu('DELETE_USER')" data-ng-click="deleteuser(user.id)" popover="Delete" popover-trigger="mouseenter"><i class="icon-remove icon-white"></i></a>
                <a ng-show="PermissionService.showMenu('UPDATE_USER')" data-ng-click="open(user.id)" popover="change Password" popover-trigger="mouseenter" class="icon-cog icon-white"></a>&nbsp;
                </td> 
            </tr>
        </tbody>
    </table>
</div>
 <script type="text/ng-template" id="password.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.changepassword' | translate}}</h3>
        </div>

        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="password">{{ 'label.password' | translate }}</label>
                <div class="controls">
                    <input type="password" id="password" ng-model="formData.password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="repeatPassword">{{ 'label.repeatpassword' | translate }}</label>
                <div class="controls">
                    <input type="password" id="repeatPassword" ng-model="formData.repeatPassword">
                </div>
            </div>
        </div>

        <div class="modal-footer silver">
            <button class="btn btn-warning" ng-click="cancel()">{{'label.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="save()">{{'label.save' | translate}}</button>
        </div>
    </script>
    <script type="text/ng-template" id="deleteuser.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.delete' | translate}}</h3>
        </div>
        <div class="modal-body modal-middle">
            <button class="btn btn-warning" ng-click="cancel()">{{'label.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="delete()">{{'label.confirm' | translate}}</button>
        </div>
    </script>
</div>