<div data-ng-controller="AllocateHardwareOneTimeSaleController">
	<div>
		<ul class="breadcrumb">
	        <table>
	        <tr>
	        <td>
	        	 <img data-ng-hide="imagePresent" src="../app/images/blank_avatar.jpg" alt="Avatar" width="40">
	          <img data-ng-show="imagePresent" src="{{image}}" alt="Avatar" width="40">
	        </td>
	        <td>
	            <small style="color:black;">{{displayName}}</small>
	            &nbsp;
	            <i class="icon-circle {{statusActive | StatusLookup}}"></i>
	        </td>
	        <td><small style="font-size:30px;">|</small></td>
	        <td>
	        <table>
	        	<tr>
	        		<td><small>Uniquely identified  {{accountNo}}</small></td>
	        	</tr>
	        	<tr>
	        		<td><i class="icon-building"></i><small>Office "{{officeName}}"</small></td>
	        	</tr>
	        </table>
	        </td>
	        <td><small style="font-size:30px;">|</small></td>
	        <td>
	        <table>
	        	<tr>
	        		<td><small>Cell Phone {{phone}}</small></td>
	        	</tr>
	        	<tr>
	        	<td><small>Device # <strong>{{hwSerialNumber}}</strong></small></td>
	        	</tr>
	        </table>
	        </td>
	        <td><small style="font-size:30px;">|</small></td>
	        <td>
	        <table>
	        	<tr>
	        		<td><small>Client Type "{{categoryType}}"</small></td>
	        	</tr>
	        	<tr>
	        		<td><small>Balance&nbsp;{{balanceAmount}}&nbsp;{{currency}} </small></td>
	        	</tr>
	        </table>
	        </td>
	        </tr>
	        </table>
	 	</ul>
		<ul class="breadcrumb">
			<li><a href="#/clients">{{'link.clients' | translate}}</a> <span class="divider">/</span></li>
			<li><a href="#/viewclient/{{clientId}}" data-ng-click="reset123()">{{'link.view.client' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{'link.add.onetimesale' | translate}}</li>
		</ul>
	</div>
	<form class="form-horizontal well"  data-ng-submit="submit()">
		  	 <div class="error" data-ng-show="errorStatus || errorDetails">
				<label>{{'label.contract.error' | translate}}</label>
				<label data-ng-show="errorStatus">{{errorStatus}}</label>
				<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
			 </div>
		 
			 <fieldset>
				<legend>{{'label.assignserialnumber' | translate}}</legend>
			   <table>
			   	  <tr>
			  		 <td>
						<div class="control-group" data-ng-repeat="item in getNumber(quantity) track by $index">
				            <label class="control-label" for="serialNumber">{{ 'label.serialNumber' | translate }}&nbsp;<span class="required">*</span></label>
				            <div class="controls">
				             	<input type="text" data-ng-model="itemDetail" name="serialNumber"  autocomplete="off" data-typeahead="itemDetail for itemDetail in getData($viewValue)">
				            </div>
				        </div>	
		        	</td>
		          </tr>
		          <tr>
		        	 <td align="right">
						<a href="#/viewclient/{{clientId}}" data-ng-click="reset123()"><button type="reset" class="btn">{{'button.cancel' | translate}}</button></a>
						<button type="submit" class="btn btn-primary">{{'button.save' | translate}}</button>
					</td>
				  </tr>
			   </table>
			</fieldset>
	</form>
</div>