<div  data-ng-controller="CreateProvisioningController">
	<div><ul class="breadcrumb">
        <table>
        <tr>
        <td>
        	 <img data-ng-hide="imagePresent" src="../app/images/blank_avatar.jpg" alt="Avatar" width="40">
          <img data-ng-show="imagePresent" src="{{image}}" alt="Avatar" width="40">
        </td>
        <td>
            <small style="color:black;">{{displayName}}</small>
            &nbsp;
            <i class="icon-circle {{statusActive | StatusLookup}}"></i>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Uniquely identified  {{accountNo}}</small></td>
        	</tr>
        	<tr>
        		<td><i class="icon-building"></i><small>Office "{{officeName}}"</small></td>
        	</tr>
        </table>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Cell Phone {{phone}}</small></td>
        	</tr>
        	<tr>
        		<td><small>Device # <strong>{{device}}</strong></small></td>
        	</tr>
        </table>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Client Type "{{categoryType}}"</small></td>
        	</tr>
        	<tr>
        		<td><small>Balance&nbsp;{{balanceAmount}}&nbsp;{{currency}} </small></td>
        	</tr>
        </table>
        </td>
        </tr>
        </table>
	</ul>
		<ul class="breadcrumb">
			<li><a href="#/clients">{{'link.clients' | translate}}</a> <span class="divider">/</span></li>
			<li><a href="#/viewclient/{{clientId}}">{{'link.view.client' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{'link.provision' | translate}}</li>
		</ul>
	</div>
<form class="form-horizontal well" data-ng-submit="submit()">

	 <div class="error" data-ng-show="errorStatus || errorDetails">
	 
		<label>{{'label.contract.error' | translate}}</label>
		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
	<fieldset>
		<legend>{{'label.provisioning.New' | translate}}</legend>
		<div class="row-fluid span">

		<div class="span6">
		<table  class="table table-striped table-bordered">
			<tr>
				<td width="50%">{{ 'label.order.orderId' | translate }}</td>
				<td width="50%">{{orderNo}}</td>
			</tr>
			<tr>
				<td width="30%">{{ 'label.provisioning.clientname' | translate }}</td>
				<td width="70%">{{displayName}}</td>
			</tr>
		</table>
	</div>	
	<div class="span5">
		<table class="table table-striped table-bordered fullwidth">
			<tr>
				<td width="30%">{{ 'label.plan.planname' | translate }}</td>
				<td width="70%">{{planName}}</td>
			</tr>
			<tr>
				<td width="30%">{{ 'label.provisioning.device' | translate }}</td>
				<td width="70%">{{device}}</td>
			</tr>
		</table>
	</div>	
	<div class="pull-right">
        <a  href="" class="btn btn-primary" data-popover-trigger="mouseenter" data-popover="To See Click on Me" data-ng-click="freeIpsPopupFun()">
        		<i class="icon-list icon-white"></i>Free IPs</a>
    </div>		
	</div>
			    <table>
					<tr>
					<td>
			 			 <div class="control-group">
			 			  	<div class="controls">
						  	<input  id="ip_address" type="radio" name="selectType"  data-ng-click="selectedIPAddress('ipAddress')" checked/>&nbsp;&nbsp;IPAddress&nbsp;&nbsp;
			  				<input  id="subnet" type="radio" name="selectType" data-ng-click="selectedSubnet('subnet')" />&nbsp;&nbsp;Subnet
						  	</div>
						  	</div>
			 			 </td>
					</tr>
		              <tr>
					       <td>
							 <div class="control-group">
                        	  <label class="control-label">{{ 'label.provisioning.servicename' | translate }}</label>
                        		<div class="controls">
                            	 <select data-ng-model="formData.serviceName" data-ng-options="service.serviceId as service.servicecode for service in services" 
                            	 data-ng-change="selectService(formData.serviceName)" >
             					 </select>
                        	</div>
          				  </div>
					    </td>
					   </tr>
					   </table>
					  <!-- <tr>
					   <table>
				<td>
				 -->
				<table  data-ng-repeat="parameterData in parameterDatas">
			
					    <tr>
							<td>
								<div class="control-group" data-ng-show="parameterData.paramName == 'SERVICE'">
            					<label class="control-label" for="chargeCode">{{ 'label.provisioning.service' | translate }}</label>
            					<div class="controls">
              					<input data-ng-show="parameterData.type == 'Single'" type="text" id="service" data-ng-model="parameterData.paramValue" style="background-color:#FFFFFF;" readonly>
              					 <select data-ng-hide="parameterData.type == 'Single'" data-ng-model="parameterData.paramValue"  data-ng-options="serviceparam.paramValue as serviceparam.paramValue for serviceparam in serviceparams" >
             					 </select>
            					</div>
          						</div>
							</td>
							</tr>
							<tr>
							<td>
								<div class="control-group" data-ng-show="parameterData.paramName == 'GROUP_NAME'">
            					<label class="control-label" for="itemId">{{ 'label.provisioning.group' | translate }}</label>
            					<div class="controls">
             					 <input data-ng-show ="parameterData.type == 'Single'" type="text" id="groupName" data-ng-model="formData.groupName" style="background-color:#FFFFFF;" readonly>
             					  <select data-ng-hide="parameterData.type == 'Single'" data-ng-model="formData.groupName"  data-ng-options="serviceparam.groupName as serviceparam.groupName for serviceparam in groupDatas" >
             					 </select>
            					</div>
          						</div>
							</td>
							</tr>
							<tr>
							<td>
								<div class="control-group" data-ng-show="(parameterData.paramName == 'IP_ADDRESS')">
            					<label class="control-label" for="ipAddress">{{ 'label.provisioning.ipaddress' | translate }}</label>
            					<div class="controls">                                  	       
             					 <input type="text" data-ng-model="IPAddressObj.ipAddress" name="ipAddress" data-ng-change="getData(IPAddressObj.ipAddress)"  data-typeahead="ipPoolData as ipPoolData for ipPoolData in ipPoolDatasData | filter:$viewValue" data-typeahead-min-length="0">  
                                  <input data-ng-show="subnetType" type="text" style="width:20px;" id="subnet" data-ng-model="formData.subnet" maxlength="2"/>
                                   <a data-ng-show="IPAddressType" data-ng-click="addIpAddresses()">&nbsp;<i class="icon-plus icon-white"></i></a>&nbsp;&nbsp;
                                  <div  data-ng-show="IPAddressType" data-ng-repeat="addipAddress in addIpAddress">
										<input type="text" style="width:110px" readonly data-ng-model="addipAddress">
										<a data-ng-click="deleteAddIpAddress($index)"><i class="icon-remove icon-white"></i></a>							   					        
						              </div>                            
                                  </div>                           
            					</div>                                                               
							</td>
							</tr>
							<tr>
							<td>
								<div class="control-group" data-ng-show="parameterData.paramName == 'VLAN_ID'">
            					<label class="control-label" for="vLan">{{ 'label.provisioning.vlan' | translate }}</label>
            					<div class="controls">
              					 <select data-ng-model="formData.vLan"  data-ng-options="vlanData.mCodeValue as vlanData.mCodeValue for vlanData in vlanDatas">
             					 </select>
            					</div>
          						</div>
							</td>
							</tr>
						
			</table>
			

		<div class="offset3">
			<a id="cancel" href="#/vieworder/{{orderId}}/{{clientId}}"><button type="reset" class="btn" data-ng-click="reset123()">{{'button.cancel' | translate}}</button></a>

				<button id="submit" type="submit" class="btn btn-primary">{{'button.provisioning' | translate}}</button>
		</div>
	</fieldset>
</form>

<script type="text/ng-template" id="freeIps.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">IP Details</h3>
                    </div>
                    <div class="modal-body modal-big">
						<div class="span5">
							<table width="100%" class="table table-striped table-bordered">
								<thead>
            						<tr class="graybg">
             						   <th>Ip Address</th>
               						   <th>Notes</th>
           							</tr>
        						</thead>
       							 <tbody>
    						        <tr  ng-repeat="ipAddressesData in ipAddressesData" >
      							          <td >{{ipAddressesData.ip_address}}</td>
             							  <td >{{ipAddressesData.notes}}</td>
          						    </tr>
        						 </tbody>
							</table>
						</div>	
                    </div>
                    <div class="modal-footer">
                        <button id="cancel" class="btn btn-primary" ng-click="cancel()">{{'button.done' | translate}}</button>
                    </div>
 </script>
</div>
