<div>
		<ul class="breadcrumb">
			<li><a href="#/clients">{{'link.clients' | translate}}</a> <span class="divider">/</span></li>
            <li class="active">{{'label.disconnectorder' | translate}}</li>
    </ul>
</div>
<form class="form-horizontal well" ng-controller="OrderDisconnectController" ng-submit="submit()">
 <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
	        <fieldset>
        <legend>{{'label.disconnectorder' | translate}}</legend>
         <div class="control-group">
                          <label class="control-label" for="startDate">{{ 'label.order.disconnectionDate' | translate }}</label>
                            <div class="controls">
                          <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="start.date" is-open="opened" min="minDate" max="maxDate" 
                          date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/>
                          </div>
                        </div>
       <div class="control-group">
            <label class="control-label" for="status">{{ 'label.order.disconnectionreason' | translate }}<span class="required">*</span></label>
            <div class="controls">
              <select ng-model="formData.disconnectReason"  ng-options="disconnectDetail.mCodeValue as disconnectDetail.mCodeValue for disconnectDetail in disconnectDetails" value="{{disconnectDetail.mCodeValue}}"></select>
            </div>
          </div><br>
        <div class="offset3">
            <a href='#/clients'><button type="reset" class="btn">Cancel</button></a>
            <button type="submit" class="btn btn-primary">{{'label.save' | translate}}</button>
        </div>

    </fieldset>
 </form>