<div ng-controller="HardwareSwapController">
<div><ul class="breadcrumb">
  <!-- <img ng-hide="imagePresent" src="../app/images/blank_avatar.jpg" alt="Avatar" width="40">
     <img ng-show="imagePresent" src="{{image}}" alt="Avatar" width="40">
     <li>
          <h3>
            &nbsp;
            {{displayName}}
            &nbsp;
            <i class="icon-circle {{statusActive | StatusLookup}}"></i>
            &nbsp;
          </h3>
        </li>
        <li><span class="divider">|</span>
          <i class="icon-barcode"></i>
          <small>Uniquely identified with {{accountNo}}&nbsp;</small>
        </li>
        <li><span class="divider">|</span>
          <i class="icon-building"></i>
          <small>Belongs to "{{officeName}}" office</small>
        </li>
         <li><span class="divider">|</span>
          <i></i>
          <small>Balance:{{balanceAmount}} &nbsp;{{currency}}</small>
        </li> -->
        <table>
        <tr>
        <td>
        	 <img ng-hide="imagePresent" src="../app/images/blank_avatar.jpg" alt="Avatar" width="40">
          <img ng-show="imagePresent" src="{{image}}" alt="Avatar" width="40">
        </td>
        <td>
            <small style="color:black;">{{displayName}}</small>
            &nbsp;
            <i class="icon-circle {{statusActive | StatusLookup}}"></i>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Uniquely identified  {{accountNo}}</small></td>
        	</tr>
        	<tr>
        		<td><i class="icon-building"></i><small>Office "{{officeName}}"</small></td>
        	</tr>
        </table>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Cell Phone {{phone}}</small></td>
        	</tr>
        	<tr>
        		<td><small>Device # <strong>{{hwSerialNumber}}</strong></small></td>
        	</tr>
        </table>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Client Type "{{categoryType}}"</small></td>
        	</tr>
        	<tr>
        		<td><small>Balance&nbsp;{{balanceAmount}}&nbsp;{{currency}} </small></td>
        	</tr>
        </table>
        </td>
        </tr>
        </table>
 </ul>
		<ul class="breadcrumb">
			<li><a href="#/clients">{{'link.clients' | translate}}</a> <span class="divider">/</span></li>
			<li><a href="#/viewclient/{{clientId}}">{{'link.view.client' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{'link.add.onetimesale' | translate}}</li>
		</ul>
	</div>
<form class="form-horizontal well"  ng-submit="submit()">
	 <div ng-repeat="i in getNumber(quantity)">
	  <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
	 
	 <fieldset>
		<legend>{{'label.assignserialnumber' | translate}}</legend>
		
		<div class="control-group">
   			<label class="control-label" for="reason">{{'label.reason' | translate }}&nbsp;<span class="required">*</span></label>
   			<div class="controls">
     			<select data-ng-model="reason" data-ng-options="enumValuesData.value as enumValuesData.value for enumValuesData in enumValuesDatas">
             	</select>
   			</div>
         </div>
		<div class="control-group" ng-repeat="item in getNumber(formData.quantity)" name="serialNumberDiv">
            <label class="control-label" for="serialNumber">{{ 'label.serialNumber' | translate }}&nbsp;<span class="required">*</span></label>
            <div class="controls">
             	<!-- <select ng-model="itemDetail"  name="serialNumber" ng-options="itemDetail as itemDetail for itemDetail in itemDetails" value="{{itemDetail}}" >
             	</select> -->
             	<input type="text" ng-show ="config == 'SALE'"  ng-model="itemDetail" name="serialNumber" ng-change="getData(itemDetail)" typeahead="itemDetail as itemDetail for itemDetail in getData($viewValue)" typeahead-min-length="0">
             	<input type="text" ng-show ="config == 'OWN'" ng-model="itemDetail" name="serialNumber"> 
            </div>
        </div>	
        <!--  <div class="control-group" ng-repeat="item in getNumber(formData.quantity)">
        <input type="text" ng-model="itemDetail" list="allocatehardware" name="serialNumber"></br>
        
        </div>
		<datalist id="allocatehardware">
                  <option  data-ng-repeat="itemDetail in itemDetails" value="{{itemDetail}}">
        </datalist> 
 -->

		<div class="offset3">
			<a href="#/viewclient/{{clientId}}"><button type="reset" class="btn">{{'button.cancel' | translate}}</button></a>
			<button type="submit" class="btn btn-primary">{{'button.save' | translate}}</button>
		</div>
	</fieldset>
	 
	 </div>
	
</form>
</div>