<div data-ng-controller="PayInvoiceController">
 <div>
 <ul class="breadcrumb">
       <li><table>
        <tr>
        <td>
         <img data-ng-hide="imagePresent" src="../app/images/blank_avatar.jpg" alt="Avatar" width="40">
          <img data-ng-show="imagePresent" src="{{image}}" alt="Avatar" width="40">
        </td>
        <td>
            <small style="color:black;">{{displayName}}</small>
            &nbsp;
            <i class="icon-circle {{statusActive | StatusLookup}}"></i>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Uniquely identified&nbsp;<strong>{{accountNo}}</strong></small></td>
        	</tr>
        	<tr>
        	    <td><small>Cell Phone&nbsp;<strong>{{phone}}</strong></small></td>
        	</tr>
        </table>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        	   <td><i class="icon-building"></i><small>Office&nbsp;"<strong>{{officeName}}</strong>"</small></td>
        	</tr>
        	<tr>
        	<td><small>Device # <strong>{{hwSerialNumber}}</strong></small></td>
        	</tr>
        </table>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Client Type&nbsp;"<strong>{{categoryType}}</strong>"</small></td>
        	</tr>
        	<tr>
        		<td><small>Balance&nbsp;<strong>{{balanceAmount}}</strong>&nbsp;{{currency}} </small></td>
        		<td class="paddedleft0" data-ng-show="walletConfig"><small>[Wallet&nbsp;<strong>{{walletAmount}}</strong>&nbsp;{{currency}}]</small></td>
        	</tr>
        </table>
        </td>
        </tr>
        </table></li>
 </ul>
		<ul class="breadcrumb">
			<li><a href="#/clients">{{'link.clients' | translate}}</a> <span class="divider">/</span></li>
			<li><a href='#/viewclient/{{clientId}}'>{{'link.view.client' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">Pay Invoice</li>
		</ul>
	</div>
      <form name="payInvoiceForm" class="form-horizontal well" data-ng-submit="submit()">
	    <div class="error" data-ng-show="errorStatus || errorDetails">
		 <label>{{'label.contract.error' | translate}}</label>
		 <label data-ng-show="errorStatus">{{errorStatus}}</label>
		 <label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div> 
	    
        <fieldset>
          <legend>Pay Invoice</legend>
			<table>
			<tr>
				<td>
					<table>
					<tr>
					<td>
			 			 <div class="control-group">
			 			  	<div class="controls">

			  				<input  id="accountId" type="radio" name="selectType"  data-ng-click="selectedAccount()" checked/>&nbsp;&nbsp;Account&nbsp;&nbsp;
						  	<input  id="invoiceId" type="radio" name="selectType"  data-ng-click="selectedInvoice()"/>&nbsp;&nbsp;Invoice
							<input  id="depositId" type="radio" name="selectType"  data-ng-click="selectedDeposit()"/>&nbsp;&nbsp;Deposit
						  	</div>
						  	</div>
			 			 </td>
					</tr>
						<tr>
							<td>
								<div class="control-group">
           					 	<label class="control-label" for="paymentDate">{{ 'label.paymentdate' | translate }}</label>
            					<div class="controls">
             					  <input id="dateid" type="text" data-ng-change="test()" data-datepicker-pop="dd MMMM yyyy" data-ng-model="start.date" data-is-open="opened2" min="minDate" max="maxDate" 
             					  data-date-disabled="disabled(date, mode)"  style="background-color:#FFFFFF;"  readonly />
           						</div>
         						</div>	
							</td>
							
							</tr>
							<tr>
							<td>
								<div class="control-group">
            					<label class="control-label" for="paymentCode">{{ 'label.paymentType' | translate }}</label>
            					<div class="controls">
             					 <select id="paymenttypeval" data-ng-model="formData.paymentCode" data-ng-options="data.id as data.mCodeValue for data in data" value="{{data.id}}" data-ng-change="paymentTypeData(formData.paymentCode)">
             					 </select>
            					</div>
          						</div>		
          					</td>
							
							</tr>
							<tr>
							<td>
								<div class="control-group">
           					 	<label class="control-label" for="amountPaid">{{ 'label.amount' | translate }}</label>
            					<div class="controls">
             					 <input type="text" id="amountPaid" name="amountPaid" data-ng-model="formData.amountPaid" data-ng-change="selectInvoice&&amountChange(formData.amountPaid)" data-ng-pattern="{{'decimal' | CodeValidate}}"/>
             					 <input data-ng-show="showInvoiceDetails" type="text" class="input-small" id="payAvailAmount" 
             					    name="payAvailAmount" data-ng-model="payAvailAmount" data-ng-pattern="{{'decimal' | CodeValidate}}" disabled/>
             					     <span data-ng-show="payInvoiceForm.amountPaid.$dirty && payInvoiceForm.amountPaid.$invalid">
             					 	<small class="error-row">{{'error.not.decimal.validation' | translate}}</small>
             					 </span>
           						</div>
         						</div>
							</td>
							
							</tr>
							<tr>
							<td>
								<div class="control-group">
           					 	<label class="control-label" for="receiptNo">{{ 'label.receiptno' | translate }}<!-- <span class="required">*</span> --></label>
            					<div class="controls">
             					 <input type="text" id="receiptNo" name="receiptno" data-ng-model="formData.receiptNo">
           						</div>
         						</div>
							</td>
						</tr>
						<tr>
							<td>
							<div class="control-group">
	          				<label class="control-label">{{'label.notes' | translate}}</label>
		        			<div class="controls">
		          			<textarea data-ng-model="formData.remarks"></textarea>
		        			</div>
	        				</div>
	        				</td>
						</tr>
						<tr data-ng-show ="walletconfig">
						<td>
						 <div class="control-group">
            				<label class="control-label" for="iswalletpayment">{{ 'label.iswalletpayment' | translate }}</label>
            					<div class="controls">
              							<label class="checkbox">
                							<input type="checkbox" data-ng-model="formData.isWalletPayment">
              							</label>
            					</div>
          					</div>
					</td>
					</tr>
					<tr data-ng-show="configSubscriptionPayment == 'true'">
				<td>
				  <div class="control-group">
                   <label class="control-label" for="isPrepaid">{{ 'label.issubscriptionpayment' | translate }}</label>
                    <div class="controls">
                      <label class="checkbox">
                    <input type="checkbox" data-ng-model="formData.isSubscriptionPayment">
                </label>
              </div>
          </div>
          </td>
			    </tr>	
					</table>
			
				</td>
				
				<td>
				<div data-ng-show="paymentType == 'Cheque'">
				<table>
				<tr>
							<td>
								<div class="control-group">
           					 	<label class="control-label" for="chequeNo">{{ 'label.chequeno' | translate }}</label>
            					<div class="controls">
             					 <input type="text" id="chequeNo" data-ng-model="formData.chequeNo">
           						</div>
         						</div>
							</td>
				</tr>
				<tr>
							<td>
								<div class="control-group">
            					<label class="control-label" for="chequeDate">{{ 'label.chequedate' | translate }}</label>
            					<div class="controls">
              					<input type="text" id="chequeDate" data-ng-model="formData.chequeDate">
            					</div>
          						</div>
							</td>
				
				</tr>
				<tr>
					<td>
					<div class="control-group">
           			<label class="control-label" for="bankName">{{ 'label.bankname' | translate }}</label>
            		    <div class="controls">
             				<input type="text" id="bankName" data-ng-model="formData.bankName">
           				</div>
         			</div>
				  </td>
				</tr>
				 <tr>
					<td>
						<div class="control-group">
           				<label class="control-label" for="branchName">{{ 'label.branchname' | translate }}</label>
            			  <div class="controls">
             				<input type="text" id="branchName" data-ng-model="formData.branchName">
           					</div>
         				</div>
					</td>
               </tr>
					
					</table>
				  </div>
				</td>
			  </tr>
			</table>
			<br>
			 <div class="offset3" data-ng-hide= "selectInvoice || selectDeposit">
           		 <a href='#/viewclient/{{clientId}}' class="btn">Cancel</a>
          		 <button id="submit" type="submit" data-ng-disabled="payInvoiceForm.$dirty && payInvoiceForm.$invalid" class="btn btn-primary" data-ng-click = "submitAccount()">{{'button.save'| translate}}</button>
          	</div>
			<div class="control-group" data-ng-show = "selectInvoice">
          		<label class="control-label">{{'label.show.invoice.details' | translate}}</label>
         		 <div class="controls">
            		<a class="btn btn-primary" data-ng-click="showInvoices(formData.amountPaid)">
              			<i data-ng-show="showInvoiceDetails" class="icon-minus icon-white"></i>
             			 <i data-ng-show="!showInvoiceDetails" class="icon-plus icon-white"></i>
            		</a>
          		</div>
        	</div>
			<br>
			<div class="control-group" data-ng-show = "selectDeposit">
          		<label class="control-label">Show Deposit Details</label>
         		 <div class="controls">
            		<a class="btn btn-primary" data-ng-click="showDeposits()">
              			<i data-ng-show="showDepositDetails" class="icon-minus icon-white"></i>
             			 <i data-ng-show="!showDepositDetails" class="icon-plus icon-white"></i>
            		</a>
          		</div>
        	</div>
        	<br>
<div data-collapse = "!showInvoiceDetails" data-ng-show="selectInvoice &&formData.amountPaid" >
	<table class="table" >
        <thead>
            <tr class="graybg">
            	<th>select</th>
                <th>InvoiceId</th>
                <th>Invoice Date</th>
                <th>Invoice Amount</th>
                <th>Due Amount</th>
              <!--   <th>Amount</th>
                <th></th> -->
            </tr>
        </thead>
        <tbody>
             <tr data-ng-repeat="invoiceData in invoiceDatas" >
           
            	<td> <input  id="{{invoiceData.id}}" class="unCheck" type="checkbox" data-ng-model="invoiceData.active" data-ng-change="selectedInvoices(invoiceData.id,invoiceData.dueAmount,invoiceData.active,$index)"/></td>
            	<td>{{invoiceData.id}}</td>
                <td>{{invoiceData.billDate | DateFormat}}</td>
                 <td>{{invoiceData.amount}}</td>
                <td>{{invoiceData.dueAmount}}</td>
              <!--   <td>  data-ng-click = "seletedRecord(invoiceData.id)"
             		<span style="color:green;" data-ng-show="(invoiceData.dueAmount == 0) && (value == invoiceData.id)">Paid</span>
             		<input data-ng-show="(value == invoiceData.id) && (invoiceData.dueAmount != 0)" class="input-small" type="text" name="amountInvoice"
             			data-ng-model ="formData.amount" data-ng-change="amountField(formData.amount,invoiceData.dueAmount)" data-ng-pattern="{{'decimal' | CodeValidate}}">
             		
           		</td> -->
           <!--       <td>
                    <button data-ng-show="(value == invoiceData.id) && (invoiceData.dueAmount != 0)"  
                    	class="btn btn-primary"  data-ng-click="submitInvoice()">Pay</button>
                    <span data-ng-show="payInvoiceForm.amountInvoice.$dirty && payInvoiceForm.amountInvoice.$invalid">
             			<small class="error-row" data-ng-show="payInvoiceForm.amountInvoice.$error.pattern">{{'error.not.decimal.validation' | translate}}</small>
             		</span>
           		</td > -->

            </tr>
            
        </tbody>
    </table>
    	<br>
		<div class="pull-right">
            <a href='#/viewclient/{{clientId}}' class="btn">{{'button.cancel'  | translate}}</a>
          <button id="submit" type="submit" class="btn btn-primary" data-ng-disabled="payInvoiceForm.$dirty && payInvoiceForm.$invalid" class="btn btn-primary" data-ng-click = "submitAccount()">Pay</button>
          </div>	
 </div>
 
 <div data-collapse = "!showDepositDetails" data-ng-show="selectDeposit" >

			<table class="table" >
        <thead>
            <tr class="graybg">
            	<th>select</th>
                <th>Id</th>
                <th>Transaction Date</th>
                <th>Debit Amount</th>
        
            </tr>
        </thead>
        <tbody>
             <tr data-ng-repeat="depositData in depositDatas" >
           
            	<td> <input  id="{{depositData.id}}" class="unCheck" type="checkbox" data-ng-model="active" data-ng-change="selectedDepositInvoices(depositData.id,depositData.debitAmount,active,$index)"/></td>
            	<td>{{depositData.id}}</td>
                <td>{{depositData.transactionDate | DateFormat}}</td>
                <td>{{depositData.debitAmount}}</td>
                
            </tr>
            
        </tbody>
    </table>
    	<br>
		<div class="pull-right">
            <a href='#/viewclient/{{clientId}}' class="btn">{{'button.cancel'  | translate}}</a>
          <button id="submit" type="submit" class="btn btn-primary" data-ng-disabled="payInvoiceForm.$dirty && payInvoiceForm.$invalid" class="btn btn-primary" data-ng-click = "submitAccount()">Pay</button>
          </div>	
 </div> 
 
 
        </fieldset>
      </form>
      <script type="text/ng-template" id="alert.html">
					<div class="modal-header silver">
                        <h3 class="bolder">Warning</h3>
                    </div>
                    <div class="modal-body" modal-middle>
                       <i class="icon-warning-sign error"></i>Available Paying Amount <span style='color:blue;font-size:15px;'> ZERO </span> now
                    </div>
                    <div class="modal-footer">
						<button class="btn btn-primary" ng-click="approve()">ok</button>
                    </div>
      </script>
      
       <script type="text/ng-template" id="amountAlert.html">
					<div class="modal-header silver">
                        <h3 class="bolder">Warning</h3>
                    </div>
                    <div class="modal-body" modal-middle>
                       <i class="icon-warning-sign error"></i>Available Paying Amount cann't be greater than <span style='color:blue;font-size:15px;'>"Invoice Due Amount"</span>.
                    </div>
                    <div class="modal-footer">
						<button class="btn btn-primary" ng-click="approve()">ok</button>
                    </div>
      </script>
</div>
