<div ng-controller="OrderController">
  <div>
     <ul class="breadcrumb">
      	<li><table>
        <tr>
        <td>
         <img data-ng-hide="imagePresent" src="../app/images/blank_avatar.jpg" alt="Avatar" width="40">
          <img data-ng-show="imagePresent" src="{{image}}" alt="Avatar" width="40">
        </td>
        <td>
            <small style="color:black;">{{displayName}}</small>
            &nbsp;
            <i class="icon-circle {{statusActive | StatusLookup}}"></i>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Uniquely identified&nbsp;<strong>{{accountNo}}</strong></small></td>
        	</tr>
        	<tr>
        	    <td><small>Cell Phone&nbsp;<strong>{{phone}}</strong></small></td>
        	</tr>
        </table>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        	   <td><i class="icon-building"></i><small>Office&nbsp;"<strong>{{officeName}}</strong>"</small></td>
        	</tr>
        	<tr>
        	<td><small>Device # <strong>{{hwSerialNumber}}</strong></small></td>
        	</tr>
        </table>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Client Type&nbsp;"<strong>{{categoryType}}</strong>"</small></td>
        	</tr>
        	<tr>
        		<td><small>Balance&nbsp;<strong>{{balanceAmount}}</strong>&nbsp;{{currency}} </small></td>
        		<td class="paddedleft0" data-ng-show="walletConfig"><small>[Wallet&nbsp;<strong>{{walletAmount}}</strong>&nbsp;{{currency}}]</small></td>
        	</tr>
        </table>
        </td>
        </tr>
        </table></li>
 </ul>
   <div>
		<ul class="breadcrumb">
			<li><a href="#/clients">{{'link.clients' | translate}}</a> <span class="divider">/</span></li>
			<li><a href="#/viewclient/{{orderPriceDatas[0].clientId}}">{{'link.view.client' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{orderData.planCode}}</li>
		</ul>
   </div>
	<div class="error" ng-show="errorStatus || errorDetails">
			<label>{{'label.contract.error' | translate}}</label>
			<label ng-show="errorStatus">{{errorStatus}}</label>
			<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	</div>
</div>  
   	<div class="row-fluid primarydiv"> 
	   <span class="pull-right">
	       <div class="btn-group">
	         <a ng-show="config.disconnect=='true'&&((orderData.status == 'ACTIVE')&&PermissionService.showMenu('UPDATE_ORDER')||(orderData.status == 'SUSPENDED'))" href="" ng-click="orderDisconnect(orderPriceDatas[0].orderId)" class="btn btn-primary"><i class="icon-remove fa-spin icon-white"></i> Disconnect</a>
	         <a ng-show="config.reconnect=='true'&& ((orderData.status == 'DISCONNECTED')&&PermissionService.showMenu('RECONNECT_ORDER')&&(orderData.contractPeriod == 'Perpetual')) " ng-click="reconnect()" class="btn btn-primary"><i class=" icon-repeat icon-white"></i> Reconnect</a>
	         <a ng-show="config['topup/renewal'] == 'true'&&((orderData.endDate && orderData.status != 'PENDING' && orderData.status != 'SUSPENDED' && orderData.status != 'TERMINATED' && orderData.isPrepaid == 'N')&&PermissionService.showMenu('RENEWAL_ORDER')&&(orderData.contractPeriod != 'Perpetual')) " href="" ng-click="orderRenew(orderPriceDatas[0].orderId)" class="btn btn-primary"><i class="icon-edit icon-white"></i>Renewal</a>
	         <a ng-show="config['topup/renewal'] == 'true'&&((orderData.isPrepaid == 'Y' && (orderData.status != 'TERMINATED') && orderData.status != 'PENDING')&&PermissionService.showMenu('RENEWAL_ORDER'))"  href="" ng-click="orderRenew(orderPriceDatas[0].orderId)"class="btn btn-primary"><i class="icon-arrow-up icon-white"></i>TopUp</a>
	        <!--  <a ng-show="orderData.status == 'ACTIVE'" ng-click="CommandCenter(orderPriceDatas[0].orderId)" class="btn btn-primary"><i class=" icon-repeat icon-white"></i> Command Center</a> -->
	         <a ng-show="(orderData.status == 'PENDING')&&PermissionService.showMenu('DELETE_ORDER')" ng-click="cancelOrder()" class="btn btn-primary"><i class="icon-remove-circle icon-white"></i> Cancel Order</a>
	         <a ng-show ="config.pairing=='true'&&((association.orderId == null)&&PermissionService.showMenu('CREATE_ASSOCIATION'))"  href="#/association/{{clientId}}/{{orderPriceDatas[0].orderId}}" class="btn btn-primary"><i class="icon-plus icon-white"></i>Pairing</a>
	         <a ng-show="config.addons=='true'&&((orderData.status == 'ACTIVE')&&PermissionService.showMenu('CREATE_ORDERADDONS'))"  href="#/orderaddons/" class="btn btn-primary"><i class="icon-shopping-cart fa-spin icon-white"></i> AddOns</a>
		     <a ng-show ="(orderData.status == 'DISCONNECTED' && association.orderId != null)&&PermissionService.showMenu('DEASSOCIATION_ASSOCIATION')" ng-click="deAssociation()" class="btn btn-primary"><i class="icon-repeat icon-white"></i> Un Pairing</a>
		     <a ng-show ="config.deviceswap=='true'&&((orderData.status == 'ACTIVE')&&PermissionService.showMenu('SWAPPING_HARDWARESWAPPING')&&association.saleId)" href="#/hardwareswap/{{association.saleId}}/{{clientId}}/{{association.orderId}}" class="btn btn-primary"><i class="icon-move"></i>Device Swap</a>
		     <a ng-show ="config.applypromo=='true'&&((orderData.status == 'ACTIVE')&&PermissionService.showMenu('APPLYPROMO_ORDER'))" ng-click="applyPromo()" class="btn btn-primary"><i class="icon-gift"></i>Apply Promo</a>
		     <!-- <a ng-show ="orderData.status != 'PENDING' && orderData.status != 'SUSPENDED' && orderData.status != 'TERMINATED' " ng-click="extension()" class="btn btn-primary"><i class="icon-cog"></i>Extension</a> -->
		     <a ng-show ="config.changeplan=='true'&&(orderData.status == 'ACTIVE')&&PermissionService.showMenu('CHANGEPLAN_ORDER')" href="#/neworder/{{orderData.pdid}}/{{clientId}}" class="btn btn-primary"><i class="icon-cog"></i>Change Plan</a>
		     <a ng-show ="orderData.status == 'PENDING' && orderServicesData[0].isAutoProvision == 'N'" href="#/provision/{{orderData.id}}/{{clientId}}/{{orderServicesData[0].serviceId}}" class="btn btn-primary"><i class="icon-cog"></i>Provision It</a>
		     <a ng-show ="orderData.status == 'ACTIVE' && orderServicesData[0].isAutoProvision == 'N' " href="#/editprovison/{{orderData.id}}/{{clientId}}/{{orderServicesData[0].serviceId}}" class="btn btn-primary"><i class="icon-cog"></i>Edit Provision</a>
		     <a ng-show="config.terminate=='true'&&((orderData.status == 'DISCONNECTED')&&PermissionService.showMenu('RECONNECT_ORDER'))" ng-click="terminate()" class="btn btn-primary"><i class=" icon-repeat icon-white"></i> Terminate</a> 
		     <a ng-show="orderData.status == 'SUSPENDED'" ng-click="reactive()" class="btn btn-primary"><i class=" icon-repeat icon-white"></i> ReActive</a>
	        	<span  class="btn-group">
              		<a class="btn btn-primary dropdown-toggle" ng-show="(orderData.status == 'ACTIVE')&&PermissionService.showMenu('RETRACKOSDMESSAGE_ORDER')">
	                	{{ 'label.button.more' | translate}}
                 <span class="caret"></span>
              	</a>
              <ul style='margin-left:-95px;' class="dropdown dropdown-menu">
                <li>
                    <a ng-show ="config.suspend=='true'&&orderData.status == 'ACTIVE'" ng-click="suspend()">Suspend</a>
                    <a ng-show ="config.commandcenter=='true'" ng-click="CommandCenter(orderPriceDatas[0].orderId)">Command Center</a>
                    <a ng-show ="config.ipchange=='true'" href="#/ipchange/{{clientId}}/{{orderData.id}}/{{orderServicesData[0].serviceId}}">Ip Change</a>
                </li>
              </ul>
          </span> 
	    </div>  
	</span>
	   <span ng-show="buttons.options" class="btn-group">
              <a class="btn btn-primary dropdown-toggle">
                {{ 'label.button.more' | translate}}
                <span class="caret"></span>
              </a>
              	<ul style='margin-left:-95px;' class="dropdown dropdown-menu">
                	<li class="{{button.icon}}" ng-repeat="button in buttons.options">
                    	<a ng-click="clickEvent(button.name.replace('button.',''), loandetails.id)">{{'label.'+ button.name | translate}}</a>
                	</li>
              </ul>
     </span> 
</div><hr/>
<label><b>&nbsp;&nbsp;&nbsp;Order Info</b></label>
<div>
	<div class="row-fluid span">
		<div class="span6">
			<table width="100%" class="table table-striped table-bordered" width="0px">
				<tr>
					<td width="50%">{{ 'label.order.orderId' | translate }}</td>
					<td width="50%">{{orderData.orderNo}}</td>
				</tr>	
				<tr>
					<td width="30%">{{ 'label.order.contractperiod' | translate }}</td>
					<td width="70%">{{orderData.contractPeriod}}</td>
				</tr>
				<tr>
					<td width="30%">{{ 'label.order.startdate' | translate }}</td>
					<td width="70%">{{orderData.startDate | DateFormat}}</td>
				</tr>
				<tr>
					<td width="30%">{{ 'label.order.ordertype' | translate }}</td>
					<td width="70%">{{formData.isPrepaid}}</td>
				</tr>
				<tr>
					<td width="30%">{{ 'table.order.billingcycle' | translate }}</td>
					<td width="70%">{{orderPriceDatas[0].billingCycle}}</td>
				</tr>
		</table>
	</div>	
	<div class="span5">
		<table width="100%" class="table table-striped table-bordered">
			<tr>
				<td width="30%">{{ 'label.plan.planname' | translate }}</td>
				<td width="70%">{{orderData.planCode}}</td>
			</tr>
			<tr>
				<td width="30%">{{ 'table.order.status' | translate }}</td>
				<td width="70%">{{orderData.status}}</td>
			</tr>
			<tr>
				<td width="30%">{{ 'table.order.endDate' | translate }}</td>
				<td width="70%">{{orderData.endDate | DateFormat}}</td>
			</tr>
			<tr>
				<td width="30%">{{ 'label.order.useraction' | translate }}</td>
				<td width="70%">{{orderData.userAction}}</td>
			</tr>
			<tr>
				<td width="30%">{{ 'table.order.invoicetilldate' | translate }}</td>
				<td width="70%">{{orderPriceDatas[0].invoiceTillDate| DateFormat}}</td>
			</tr>
		</table>
	</div>			
	</div>

<div class="row paddedleft">
	  <hr class="marginbottom"/>
    	<tabset >	
      		<tab heading="Order Services">
      			<div> 
            		<table class="table">
        				<thead>
            			<tr class="graybg">
                			<th>{{ 'table.order.id' | translate }}</th>
                			<th>{{ 'table.order.servicecode' | translate }}</th>
                			<th>{{ 'table.order.serviceType' | translate }}</th>
                			<th>{{ 'table.order.serviceDescription' | translate }}</th>
                			<th>{{ 'table.order.pairing' | translate }}</th>
            			</tr>
        			</thead>
        		<tbody>
            		<tr ng-repeat="orderServicesData in orderServicesData">
                		<td>{{orderServicesData.id}}</td>            
                		<td>{{orderServicesData.servicecode}}</td>        
                		<td>{{orderServicesData.serviceType}}</td>
                		<td>{{orderServicesData.serviceDescription}}</td>
                		<td>{{association.serialNum}}</td>
            		</tr>
        	</tbody>
    	</table>
    </div>
   </tab>
 	<tab heading="Price & Discount" >
          <div> 
            <table class="table">
        <thead>
            <tr class="graybg">
                <th>{{ 'table.order.service' | translate }}</th>
                <th>{{ 'table.order.chargecode' | translate }}</th>
                <th>{{ 'table.order.billstartdate' | translate }}</th>
                <th>{{ 'table.order.billenddate' | translate }}</th>
                <th>{{ 'table.order.invoicetilldate' | translate }}</th>
                <th>{{ 'table.order.billingcycle' | translate }}</th>
                <th>{{ 'table.order.price' | translate }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="orderPriceData in orderPriceDatas">
                <td>{{orderPriceData.serviceDescription}}</td>            
                <td>{{orderPriceData.chargeDescription}}</td>        
                <td>{{orderPriceData.billStartDate | DateFormat}}</td>         
                <td>{{orderPriceData.billEndDate| DateFormat}}</td>
                <td>{{orderPriceData.invoiceTillDate| DateFormat}}</td>
                <td>{{orderPriceData.billingCycle}}</td>
                <td><input type="text" id="planCode" ng-model="orderPriceData.price" class="input-small" ng-change="status()"></td>
                <td>
                 <a ng-show="PermissionService.showMenu('UPDATE_ORDERPRICE')" ng-click="updatePrice(orderPriceData.id,orderPriceData.price)" class="btn btn-primary"><i class="icon-remove-circle icon-white"></i>Update</a>
           </td>
            </tr>
        </tbody>
    </table>
    <lable><b>&nbsp;&nbsp;&nbsp;Discount</b></lable>
    <table class="table">
        <thead>
            <tr class="graybg">
                <th>{{ 'table.order.id' | translate }}</th>
                <th>{{ 'table.order.discountdescription' | translate }}</th>
                <th>{{ 'table.order.discountType' | translate }}</th>
                <th>{{ 'table.order.discountstartdate' | translate }}</th>
                <th>{{ 'table.order.discountenddate' | translate }}</th>
                <th>{{ 'table.order.discountAmount' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="orderDiscountData in orderDiscountDatas">
                <td>{{orderDiscountData.id}}</td>            
                <td>{{orderDiscountData.discountdescription}}</td>
                <td>{{orderDiscountData.discountType}}</td>
                <td>{{orderDiscountData.discountstartDate | DateFormat}}</td>
                <td>{{orderDiscountData.discountEndDate | DateFormat}}</td>
                <td>{{orderDiscountData.discountAmount}}</td>
            </tr>
        </tbody>
    </table>
    </div>
       </tab>
       
       <tab heading="Order Addons">
	<div class="row-fluid ">
    
	<table class="table">
        <thead>
            <tr class="graybg">
                 <th>{{ 'table.order.service' | translate }}</th>
                 <th>{{ 'label.order.startdate' | translate }}</th>
                 <th>{{ 'table.order.endDate' | translate }}</th>
                 <th>{{ 'table.order.status' | translate }}</th>
                 <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="orderAddonsData in orderAddonsDatas">
                <td>{{orderAddonsData.serviceCode}}</td>
                <td>{{orderAddonsData.startDate | DateFormat}}</td>
                <td>{{orderAddonsData.endDate | DateFormat}}</td>            
                <td>{{orderAddonsData.status}}</td> 
                <td>  <a data-ng-show="PermissionService.showMenu('DELETE_PLAN')" data-ng-click="disconnectAddon(orderAddonsData.id)" data-popover="Disconnect" 
                       data-popover-trigger="mouseenter"><i class="icon-remove icon-white"></i></a></td>       
                
            </tr>
        </tbody>
    </table>
</div>
	</tab>
       
	<tab heading="Order Transaction">
	<div class="row-fluid ">
    
	<table class="table">
        <thead>
            <tr class="graybg">
                 <th>{{ 'table.order.processorderid' | translate }}</th>
                 <th>{{ 'table.order.transactiondate' | translate }}</th>
                 <th>{{ 'table.order.transactiontype' | translate }}</th>
                 <th>{{ 'table.order.actualdate' | translate }}</th>
                 <th>{{ 'table.order.user' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="orderHistory in orderHistorydata">
                <td>{{orderHistory.PrepareRequsetId}}</td>
                <td>{{orderHistory.transactionDate | DateFormat}}</td>
                <td>{{orderHistory.transactioType}}</td>            
                <td>{{orderHistory.actualDate | DateFormat}}</td>        
                <td>{{orderHistory.userName}}</td>
                
                
            </tr>
        </tbody>
    </table>
</div>
	</tab>
		<tab heading="Provisioning Details"  select="getAllProvisioningDetails(orderData.orderNo)">
	<div class="row-fluid ">
	<table class="table">
        <thead>
           <tr class="graybg">
				 	<th>{{'table.heading.id' | translate}}</th>
					<th>Order Id</th>
					<th>Request Type</th>
					<th>Status</th>
					<th>Recieved Message</th>
					<th></th>
					<th></th>
					<th>Sent Message</th>
				</tr>
        </thead>
        <tbody>
          <tr class="pointer-main" ng-repeat="provisioningdata in provisioningdatas  | filter:filterText">
					<td class="pointer" >{{provisioningdata.id}}</td>
					<td class="pointer" >{{provisioningdata.orderId}}</td>  
					<td class="pointer" >{{provisioningdata.requestType}}</td>
					<td ng-show="provisioningdata.isProcessed == 'F'" class="pointer" >Failure</td>
					<td ng-show="provisioningdata.isProcessed == 'Y'" class="pointer" >Success</td>
					<td ng-show="provisioningdata.isProcessed == 'N'" class="pointer" >Processing</td>
					<td ng-show="provisioningdata.isProcessed == 'C'" class="pointer" >Success</td>
					<td class="pointer" >{{provisioningdata.receiveMessage}}</td>
					  <td><a ng-show="provisioningdata.isProcessed == 'F' " ng-click="reProcess(provisioningdata.id)" popover="Re Process" popover-trigger="mouseenter"><i class="icon-play icon-white"></i></a></td>
					   <td><a ng-show="provisioningdata.isProcessed == 'F' || provisioningdata.isProcessed == 'N'" ng-click="confirmRequest(provisioningdata.id)" popover="Confirm Request" popover-trigger="mouseenter"><i class="icon-ok icon-white"></i></a></td>
					<td><button style="padding:3px 5px;" class="btn btn-primary" ng-hide="provisioningdata.requestType=='RETRACK'"
								ng-click="sentMessagePopup(provisioningdata.id)" data-popover-trigger="mouseenter" data-popover="To See Click on Me">
								<i class="icon-envelope icon-white"></i></button></td> 
				</tr>
        </tbody>
    </table>
</div>
	</tab>
	</tabset>
	</div>

</div>	
<script type="text/ng-template" id="OrderDisconnect.html">
		
	<div class="modal-header silver">
        <h3 class="bolder">{{'label.disconnectorder' | translate}}</h3>
    </div>
    <div class="modal-body" style="height:300px;">
       	<fieldset>
     		<div class="control-group">
	            <label class="control-label" style="color:red;" ng-show="orderError.length>0">{{orderError | translate}}</label>
            	<div class="controls"></div>
        	</div>
	<div class="control-group">
            <label class="control-label" for="status">{{ 'label.order.disconnectionDate' | translate }}<span class="required">*</span></label>
            <div class="controls">
            	  <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="start.date" is-open="opened" min="minDate" max="maxDate" 
                  date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/>
            </div>
     </div>
     <div class="control-group">
            	<label class="control-label" for="status">{{ 'label.order.disconnectionreason' | translate }}<span class="required">*</span></label>
            	<div class="controls">
              		<select ng-model="formData.disconnectReason"  ng-options="disconnectDetail.mCodeValue as disconnectDetail.mCodeValue for disconnectDetail in disconnectDetails" value="{{disconnectDetail.mCodeValue}}"></select>
            	</div>
     </div>
   <div class="control-group">
        <label class="control-label" for="status">{{ 'label.order.description' | translate }}</label>
         <div class="controls">
             <textarea rows="2" cols="2" ng-model="formData.description" style="width: 333px; height:60px;"></textarea>
         </div>
     </div>
   </fieldset>
</div>
<div class="modal-footer">
        <button id="cancel" class="btn btn-warning" ng-click="cancelDisconnection()">{{'button.cancel' | translate}}</button>
     	<button id="submit" class="btn btn-primary" ng-click="approveDisconnection()" ng-disabled="flagOrderDisconnect">{{'label.confirm' | translate}}</button>
</div>
</script>

<script type="text/ng-template" id="OrderRenewal.html">
		
	<div class="modal-header silver">
        <h3 class="bolder">{{'label.renewalorder' | translate}}</h3>
    </div>
    <div class="modal-body modal-big">
       	<fieldset>
			<div class="error" ng-show="errorStatus || errorDetails">
				<label>{{'label.contract.error' | translate}}</label>
				<label ng-show="errorStatus">{{errorStatus}}</label>
				<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate : error.args}}</label>
	    </div>
    <div class="control-group">
            <label class="control-label" for="status">{{ 'label.order.renewalperiod' | translate }}</label>
            <div class="controls">
              	<select ng-model="formData.renewalPeriod" ng-change="renewalPrice(formData.renewalPeriod)" ng-options="subscriptiondata.id as subscriptiondata.Contractdata for subscriptiondata in subscriptiondatas" value="{{disconnectDetail.mCodeValue}}"></select>
            </div>
        </div>
		<hr>
     <div class="control-group">
        <label class="control-label" for="status">{{ 'label.order.description' | translate }}</label>
         <div class="controls">
             <textarea rows="2" cols="2" ng-model="formData.description" style="width: 333px; height: 80px;"></textarea>
         </div>
     </div>
    </fieldset>
   </div>
  <div class="modal-footer">
        <button id="cancel" class="btn btn-warning" ng-click="cancelRenewal()">{{'button.cancel' | translate}}</button>
     	<button id="submit" class="btn btn-primary" ng-click="approveRenewal()" ng-disabled="flagOrderRenewal">{{'label.confirm' | translate}}</button>
  </div>
</script>
	
<script type="text/ng-template" id="ApproveReconnect.html">
   <div class="modal-header silver">
   			<h3 class="bolder">{{'dialog.reconnect.title.message' | translate}}</h3>
   </div>
    <div class="modal-body modal-small">
       	<div class="error" ng-show="errorStatus || errorDetails">
			<label>{{'label.contract.error' | translate}}</label>
			<label ng-show="errorStatus">{{errorStatus}}</label>
			<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
         <h4>Are you sure?</h4>
    </div>
    <div class="modal-footer">
     		<button id="cancel" class="btn btn-warning" ng-click="cancelReconnect()">{{'button.cancel' | translate}}</button>
            <button id="submit" class="btn btn-primary" ng-click="approveReconnect()" ng-disabled="flagApproveReconnect">{{'label.confirm' | translate}}</button>
    </div>
      </script>

<script type="text/ng-template" id="ApproveTerminate.html">
   <div class="modal-header silver">
  			<h3 class="bolder">{{'dialog.terminate.title.message' | translate}}</h3>
    </div>
    <div class="modal-body modal-small">
       	<div class="error" ng-show="errorStatus || errorDetails">
			<label>{{'label.contract.error' | translate}}</label>
			<label ng-show="errorStatus">{{errorStatus}}</label>
			<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
      <h4>Are you sure?</h4>
   </div>
   <div class="modal-footer">
   			<button id="cancel" class="btn btn-warning" ng-click="cancelReconnect()">{{'button.cancel' | translate}}</button>
            <button id="submit" class="btn btn-primary" ng-click="approveTerminate()" ng-disabled="flagApproveTerminate">{{'label.confirm' | translate}}</button>
   </div>
</script>

<script type="text/ng-template" id="ApproveConfirm.html">
   <div class="modal-header silver">
  			<h3 class="bolder">{{'dialog.confirm.title.message' | translate}}</h3>
    </div>
    <div class="modal-body modal-small">
       	<div class="error" ng-show="errorStatus || errorDetails">
			<label>{{'label.contract.error' | translate}}</label>
			<label ng-show="errorStatus">{{errorStatus}}</label>
			<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
      <h4>Are you sure?</h4>
   </div>
   <div class="modal-footer">
   			<button id="cancel" class="btn btn-warning" ng-click="cancelReconnect()">{{'button.cancel' | translate}}</button>
            <button id="submit" class="btn btn-primary" ng-click="approveTerminate()" ng-disabled="flagApproveTerminate">{{'label.confirm' | translate}}</button>
   </div>
</script>

<script type="text/ng-template" id="ApproveReactive.html">
   <div class="modal-header silver">
  			<h3 class="bolder">{{'dialog.reactive.title.message' | translate}}</h3>
    </div>
    <div class="modal-body modal-small">
       	<div class="error" ng-show="errorStatus || errorDetails">
			<label>{{'label.contract.error' | translate}}</label>
			<label ng-show="errorStatus">{{errorStatus}}</label>
			<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
      <h4>Are you sure?</h4>
   </div>
   <div class="modal-footer">
   			<button id="cancel" class="btn btn-warning" ng-click="cancelReactive()">{{'button.cancel' | translate}}</button>
            <button id="submit" class="btn btn-primary" ng-click="approveReactive()" ng-disabled="flagApproveTerminate">{{'label.confirm' | translate}}</button>
   </div>
</script>

<script type="text/ng-template" id="ApproveSuspend.html">
 	<div class="modal-header silver">
        <h3 class="bolder">{{'dialog.suspend.title.message' | translate}}</h3>
    </div>
    <div class="modal-body modal-big">
       	<fieldset>
			<div class="control-group">
            	<label class="control-label" style="color:red;" ng-show="renewError.length>0">{{renewError | translate}}</label>
            <div class="controls"></div>
    </div>
     <div class="control-group">
            <label class="control-label" for="status">{{ 'label.order.suspensionDate' | translate }}<span class="required">*</span></label>
            <div class="controls">
            	  <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="start.date" is-open="opened" min="minDate" max="maxDate" 
                  date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/>
            </div>
     </div>
    <div class="control-group">
            <label class="control-label" for="status">{{ 'label.order.suspensionreason' | translate }}<span class="required">*</span></label>
            <div class="controls">
             <select ng-model="formData.suspensionReason"  ng-options="reason.mCodeValue as reason.mCodeValue for reason in reasons" value="{{periodData.id}}">
            </select>
            </div>
        </div>
     <div class="control-group">
        <label class="control-label" for="status">{{ 'label.order.suspensiondescription' | translate }}</label>
         <div class="controls">
             <textarea rows="2" cols="2" ng-model="formData.suspensionDescription" style="width: 333px; height:60px;"></textarea>
         </div>
     </div>
    </fieldset>
   </div>
   <div class="modal-footer">
   		<button id="cancel" class="btn btn-warning" ng-click="cancelReconnect()">{{'button.cancel' | translate}}</button>
        <button id="submit" class="btn btn-primary" ng-click="approveSuspend()" ng-disabled="flagApproveTerminate">{{'label.confirm' | translate}}</button>
   </div>
</script>    
<script type="text/ng-template" id="ProvisioningSystemPop.html">
	<div class="modal-header silver">
    		<h3 class="bolder">{{'dialog.provisioning.title.message' | translate}}</h3>
     </div>
     <div class="modal-body" style="height:330px;">
			<div class="error" ng-show="errorStatus || errorDetails">
		    	<label>{{'label.contract.error' | translate}}</label>
		        <label ng-show="errorStatus">{{errorStatus}}</label>
		        <label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	        </div>
            <div class="control-group">
            		<label class="control-label" for="status">{{ 'label.provisioning.commandname' | translate }}</label>
                    	<div class="controls">
                             <select ng-model="formData.commandName" ng-change="commandName(formData.commandName)" ng-options="commanddata.commandName as commanddata.commandName for commanddata in commandData" ></select>
                        </div>
			</div>
			<div class="control-group" id="commandName">
             	<label class="control-label">{{ 'label.Promotionalmessage' | translate }}</label>
                  	<div class="controls">
                  				<textarea ng-model="formData.message" style="width: 333px; height: 126px;"></textarea>
                  	</div>
             </div>		
     </div>
     <div class="modal-footer">
                        <button id="cancel" class="btn btn-warning" ng-click="rejectProvisioning()">{{'button.cancel' | translate}}</button>
                        <button id="submit" class="btn btn-primary" ng-click="acceptProvisioning()" >{{'label.confirm' | translate}}</button>
     </div>
      </script>
      
<script type="text/ng-template" id="Promo.html">
		
	<div class="modal-header silver">
        <h3 class="bolder">{{'label.promo' | translate}}</h3>
    </div>
    <div class="modal-body"  style="height:280px;">
       <fieldset>
		<div class="control-group">
            <label class="control-label" style="color:red;" ng-show="renewError.length>0">{{renewError | translate}}</label>
            <div class="controls">
            </div>
        </div>
             <div class="control-group">
                <label class="control-label" for="startDate">{{ 'label.order.startdate' | translate }}</label>
                  <div class="controls">
                  <input type="text" datepicker-pop="dd MMMM yyyy" ng-model="start.date" is-open="opened" min="minDate" max="maxDate" 
                          date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/>
              </div>
           </div>
     	<div class="control-group">
            <label class="control-label" for="status">{{ 'label.order.Promotion' | translate }}</label>
            <div class="controls">
              <select ng-model="formData.promoId"  ng-options="promoData.id as promoData.promotionDescription for promoData in promoDatas" value="{{disconnectDetail.mCodeValue}}"></select>
            </div>
        </div>
		</fieldset>
    </div>
   <div class="modal-footer">
         <button id="cancel" class="btn btn-warning" ng-click="rejectProvisioning()">{{'button.cancel' | translate}}</button>
         <button id="submit" class="btn btn-primary" ng-click="accept()" ng-disabled="flagPromo">{{'label.confirm' | translate}}</button>
   </div>
</script>     

<script type="text/ng-template" id="extension.html">
		
	<div class="modal-header silver">
        <h3 class="bolder">{{ 'label.extension' | translate }}</h3>
    </div>
    <div class="modal-body"  style="height:250px;">
       <fieldset>
		<div class="control-group">
            <label class="control-label" style="color:red;" ng-show="renewError.length>0">{{renewError | translate}}</label>
            <div class="controls">
            </div>
        </div>
             
		<div class="control-group">
            <label class="control-label" for="extensionPeriod">{{ 'label.extensionperiod' | translate }}</label>
            <div class="controls">
            <select ng-model="formData.extensionPeriod"  ng-options="periodData.mCodeValue as periodData.mCodeValue for periodData in extensionPeriodDatas" value="{{periodData.id}}">
            </select>
            </div>
        </div>
		<div class="control-group">
            <label class="control-label" for="extensionReason">{{ 'label.extensionreason' | translate }}</label>
            <div class="controls">
            <select ng-model="formData.extensionReason"  ng-options="reasonData.mCodeValue as reasonData.mCodeValue for reasonData in extensionReasonDatas" value="{{periodData.id}}">
            </select>
            </div>
        </div>
		</fieldset>
    </div>
   <div class="modal-footer">
         <button id="cancel" class="btn btn-warning" ng-click="rejectExtension()">{{'button.cancel' | translate}}</button>
         <button id="submit" class="btn btn-primary" ng-click="accept()" ng-disabled="flagExtension">{{'label.confirm' | translate}}</button>
   </div>
</script> 
<script type="text/ng-template" id="editProvision.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">Parameter Details</h3>
                    </div>
                    <div class="modal-body modal-medium">
                      <table class="table">
            			<thead>
              				<tr class="graybg">
               					 <th>Id</th>
                				 <th>Param Name</th>
              					 <th>Param Value</th>
              				</tr>
            			</thead>
            			<tbody>
              				<tr ng-repeat="parameterData in parameterDatas">
                				<td>{{parameterData.id}}</td>
               					<td>{{parameterData.paramName}}</td>
             					<td>{{parameterData.paramValue}}</td>
            				 </tr>
           			    </tbody>
                     </table>
						
                    </div>
                    <div class="modal-footer">
                        <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                    </div>
      </script>
<script type="text/ng-template" id="sentMessage.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">Sent Message Details</h3>
                    </div>
                    <div class="modal-body modal-big" style="width:650px;">
						<table style="" class="fullwidth">
							<tr ng-repeat="messageData in messageData">
								<td width="30%" valign="top" align="right">{{messageData.key}}:</td>
								<!--<td width="80%" style="color:#800080;">:&nbsp;&nbsp;{{messageData.value}}</td>-->
								<td width="70%" style="color:#800080;padding-left:10px;">
								  <table class="fullwidth"><tr ng-repeat="msgValue in messageData.value track by $index">
									<td width="35%" valign="top">{{msgValue.key}}</td>
									<td data-ng-hide='msgValue.value ==""' width="1%" valign="top">:&nbsp;&nbsp;</td>
									<td data-ng-hide='msgValue.value ==""'> {{msgValue.value}}</td>
								</tr></table>
								</td>
							</tr>
		        		 </table>
                    </div>
                    <div class="modal-footer">
                        <button id="cancel" class="btn btn-primary" ng-click="cancel()">{{'button.done' | translate}}</button>
                    </div>
 </script>
      <script type="text/ng-template" id="disconnectaddon.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">{{'dialog.addon.disconnect.message' | translate}}</h3>
                    </div>
                    <div class="modal-body modal-small">
                       <h4>Are you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
                    </div>
</script>
</div>
