<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="./images/favicon.png" />
    <title>{{ 'label.product.vendortitle' | translate }}</title>
    <style>[data-ng-cloak] { display: none !important; }</style>
   <!-- <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">google.load("visualization", "1", {packages:["corechart"]});
</script> -->

</head>
<body  class="preview " id="top" data-spy="scroll" data-target=".subnav"  data-offset="80"  data-ng-controller="MainController">
 <div data-ng-hide="domReady" style="position: absolute;margin-top:230px; top:0px;left:500px;">
    <div>
        <img src="./images/loading.gif" >
    </div>    
</div> 
<!-- Login Form  -->
<div class="container well bgimg" data-ng-cloak  data-ng-hide="currentSession.user != null" >

	<table class="fullwidth"><tr>
	  <td width="58%" style="padding-top: 55px;">
	  	<table class="fullwidth">
	        <tr>
	            <td width="30%" align="right" valign="top" class="paddingright20">
	                <!-- <img src="./images/sony_logo.jpg" alt="OBS" width="150"> -->
	            </td>    
	            <td width="70%" style="padding-top:85px;">
	                <span class="darkthick">{{ 'label.product.version' | translate }}</span><br/>
	                <span class="darkthick">{{ 'label.product.status' | translate }}</span><br/>
	                <span class="darkthick">{{ 'label.product.aboutus1' | translate }}<a target="http://trigital.in/" href="http://trigital.in/">{{ 'label.community.name' | translate }}</a>.</span> 
	               
	            </td>
	        </tr>
	    </table>  
	  </td>
	  <td valign="top">
	  <div class="form-search ng-pristine ng-valid paddedbottom" data-ng-form="loginForm" data-ng-controller="LoginFormController">
  		<div class="pull-right ">
           <span class="dropdown darkthick" > {{ 'label.change.language' | translate }}
             <a class="dropdown-toggle btn btn-primary lightbluebtn"> {{optlang.name}} <i class="icon-sort-down"></i> </a>
             <ul class="dropdown-menu">
               <li ng-repeat="lang in langs"> <a ng-click="changeLang(lang)">{{lang.name}}</a></li>
             </ul>
           </span>
        </div>
        <br/><br/>
        <div class="pull-right">

            <input ng-autofocus="true" type="text" data-ng-model="loginCredentials.username"   placeholder="{{ 'label.username' | translate }}" value="billing" class="input-small" required>
            <input id="pwd"  type="password" data-ng-model="loginCredentials.password"   placeholder="{{ 'label.password' | translate }}" value="password" class="input-small"  required>
            <button class="btn btn-primary lightbluebtn" type="submit" data-ng-click="login()">{{ 'label.signin' | translate }}</button>
        </div>
        <div class="pull-right required" data-ng-show="authenticationFailed">
            <p>{{ 'error.login.failed' | translate }}</p>
        </div>
        <div class="pull-right required" data-ng-show="errorStatus=='Invalid License'">
            <p>License Expired. Please contact OBS Adminstrator</p>
        </div>
        </div>
	  </td>
	  </tr></table>

    <!-- <div class="row form-search ng-pristine ng-valid paddedbottom" data-ng-form="loginForm" data-ng-controller="LoginFormController">
        <div class="pull-right ">
            <span class="dropdown" >
              {{ 'label.change.language' | translate }}
              <a class="dropdown-toggle btn btn-primary">
                {{optlang.name}}
                <i class="icon-sort-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li ng-repeat="lang in langs">
                  <a ng-click="changeLang(lang)">{{lang.name}}</a>
                </li>
              </ul>
            </span>
        </div>
        <br/><br/>
        <div class="pull-right">

            <input ng-autofocus="true" type="text" data-ng-model="loginCredentials.username"   placeholder="{{ 'label.username' | translate }}" value="billing" class="input-small" required>
            <input id="pwd"  type="password" data-ng-model="loginCredentials.password"   placeholder="{{ 'label.password' | translate }}" value="password" class="input-small"  required>
            <button class="btn btn-primary" type="submit" data-ng-click="login()">{{ 'label.signin' | translate }}</button>
        </div>
        <div class="pull-right required" data-ng-show="authenticationFailed">
            <p>{{ 'error.login.failed' | translate }}</p>
        </div>
        <div class="pull-right required" data-ng-show="errorStatus=='Invalid License'">
            <p>License Expired. Please contact OBS Adminstrator</p>
        </div>
    </div>
    <div class="row span8 offset2 paddedbottom">
    <table width="%100">
        <tr>
            <td width="30%" align="right">
                <img src="./images/BillingX_logo.png" alt="BillingX" width="150">
            </td>    
            <td width="70%">
                <h1 class="logocss">{{ 'label.product.name' | translate }}</h1>
                <span>{{ 'label.product.version' | translate }}</span><br/>
                <span>{{ 'label.product.status' | translate }}</span><br/>
                <span>{{ 'label.product.aboutus1' | translate }}<a target="http://www.openbillingsystem.com/" href="http://www.openbillingsystem.com/">{{ 'label.community.name' | translate }}</a>.
            </td>
        </tr>
    </table>        
    </div> -->
    <!-- <table class="fullwidth margintop20"><tr>
    	<td align="center"><img src="./images/Money-Tree.png" alt="BillingX" width="150"></td>
    </tr></table> -->
   <!--  <div class="row headers" > -->
   <table class="rowheaders"><tr><td>
      <div class="span4">
            <div class="indexheaderbody">
                <div class="indexheader">
                    <strong>{{ 'label.heading.resources' | translate }}</strong>
                </div>
                <ul>
                    <li class="darkthick">{{ 'label.anchor.usermanual' | translate }}</li>
                    <li class="darkthick">{{ 'label.anchor.faq' | translate }}</li>
                </ul>
            </div>
    </div></td><td>
    <div class="span4">
            <div class="indexheaderbody">
                <div class="indexheader">
                    <strong>{{ 'label.heading.community' | translate }}</strong>
                </div>
                <ul>
                <li class="darkthick">info@trigital.in</li>
                <li class="darkthick" >{{ 'label.anchor.ticket' | translate }}</li> 
                </ul>
            </div>
    </div></td><td>
    <div class="span4">
            <div class="indexheaderbody">
                <div class="indexheader">
                    <strong>{{ 'label.heading.news' | translate }}</strong>
                </div>
                <ul>
                    <li class="darkthick">For latest updated</li>
                	<li class="darkthick">{{ 'label.update.license.key' | translate }}</li>
                </ul>
            </div>

    </div></td></tr></table>
  <!-- </div> -->  
</div>
<!-- Navbar  -->

<div data-ng-cloak ng-class="{fullscreen:true,blockui:blockUI==true}" id="main"  data-ng-hide="currentSession.user == null">

       <div class="loading-widget-div" data-ng-show="blockUI">
        <div id="circularG">
            <div id="circularG_1" class="circularG">
            </div>
            <div id="circularG_2" class="circularG">
            </div>
            <div id="circularG_3" class="circularG">
            </div>
            <div id="circularG_4" class="circularG">
            </div>
            <div id="circularG_5" class="circularG">
            </div>
            <div id="circularG_6" class="circularG">
            </div>
            <div id="circularG_7" class="circularG">
            </div>
            <div id="circularG_8" class="circularG">
            </div>
        </div>

      </div>      


 <!--    <nav>
        <ul class="margin-nav nav-list ext-sidenav" data-ng-show="office||prospect||createclient||activation">
        
            <li>
            	<a class="black" data-ng-show="office = PermissionService.showMenu('READ_OFFICE')" href="#/nav/offices">
            		+ Navigation<i class="icon-compass icon-large pull-right "></i>
            	</a>
            </li>
            <li data-ng-show="PermissionService.showMenu('CHECKER_SUPER_USER')" class="divider"></li> 
            
            <li>
            	<a class="black" data-ng-show="PermissionService.showMenu('CHECKER_SUPER_USER')" href="#/tasks">
            		+ Checker Inbox & Tasks<i class="icon-check icon-large pull-right"></i>
            	</a>
            </li>
            <li  data-ng-show="PermissionService.showMenu('CHECKER_SUPER_USER')" class="divider"></li> 
               
            <li>
            	<a class="black" data-ng-show="system = PermissionService.showMenu('READ_DATATABLE','CREATE_CODE','READ_CODE','create_role','READ_role','UPDATE_PERMISSION','read_Audit',
                   'READ_REPORT','READ_CONFIGURATION','READ_SERVICEMAPPING','READ_PLANMAPPING','READ_PROVISIONINGSYSTEM','READ_EVENTACTIONMAP')" href="#/system">
                   + {{ 'link.admin.system' | translate }}<i class="icon-laptop icon-large pull-right"></i> 
                </a>
            </li>
            <li data-ng-show="system = PermissionService.showMenu('READ_DATATABLE','CREATE_CODE','READ_CODE','create_role','READ_role','UPDATE_PERMISSION','read_Audit',
                   'READ_REPORT','READ_CONFIGURATION','READ_SERVICEMAPPING','READ_PLANMAPPING','READ_PROVISIONINGSYSTEM','READ_EVENTACTIONMAP')" class="divider"></li>
                                						
            <li>
            	<a class="black" data-ng-show="organization = PermissionService.showMenu('READ_OFFICE','READ_STAFF','READ_CONTRACT','READ_MEDIAASSET','READ_EVENT','READ_DISCOUNT','READ_PROMOTIONCODE','READ_COUNTRYCURRENCY','READ_LOCATION',
                   'READ_CURRENCY','READ_SERVICE','READ_PLAN','READ_REGION','READ_RANDAMGENERATOR','READ_CHARGECODE','READ_MESSAGE')" href="#/organization">
                   + {{ 'link.admin.organisation' | translate }}<i class="icon-building icon-large pull-right"></i>
                </a>
            </li>
            <li data-ng-show="organization = PermissionService.showMenu('READ_OFFICE','READ_STAFF','READ_CONTRACT','READ_MEDIAASSET','READ_EVENT','READ_DISCOUNT','READ_PROMOTIONCODE','READ_COUNTRYCURRENCY','READ_LOCATION',
                                							'READ_CURRENCY','READ_SERVICE','READ_PLAN','READ_REGION','READ_RANDAMGENERATOR','READ_CHARGECODE','READ_MESSAGE')" class="divider"></li>
               
            <li>
            	<a class="black" data-ng-show="prospect=  PermissionService.showMenu('CREATE_PROSPECT')" href="#/createprospects">
            		+ Leads<i class="icon-filter icon-large pull-right"></i>
            	</a>
            </li> 
            <li data-ng-show="prospect = PermissionService.showMenu('CREATE_PROSPECT')" class="divider"></li>
            
            <li>
            	<a class="black" data-ng-show="createclient = PermissionService.showMenu('CREATE_CLIENT')" href="#/createclient">
            		 + Client <i class="icon-user icon-large pull-right"></i>
            	</a>
            </li>
            <li data-ng-show="createclient = PermissionService.showMenu('CREATE_CLIENT')" class="divider"></li>
            
            <li>
            	<a class="black" data-ng-show="activation = PermissionService.showMenu('ACTIVATIONPROCESS_ACTIVATE')" 
            		href="#/createsimpleActivation">  + Simple Activation<i class="icon-tasks icon-large pull-right"></i>
            	</a>
            </li>
            <li data-ng-show="activation = PermissionService.showMenu('ACTIVATIONPROCESS_ACTIVATE')" class="divider"></li> 
            	
            <li>
            	<a class="black" data-ng-show="smartsearch = PermissionService.showMenu('READ_GLACCOUNT')&&PermissionService.showMenu('READ_OFFICE')&&PermissionService.showMenu('READ_SMARTSEARCH')" href="#/smartSearch">
            		 + {{ 'link.smartsearch' | translate }}<i class="icon-search icon-large pull-right"></i>
            	</a>
            </li>
            <li data-ng-show="smartsearch = PermissionService.showMenu('READ_GLACCOUNT')&&PermissionService.showMenu('READ_OFFICE')&&PermissionService.showMenu('READ_SMARTSEARCH')" class="divider"></li>
             
            <li>
            	<a class="black" data-ng-show="paymentGetWay = PermissionService.showMenu('READ_PAYMENTGATEWAY')" href="#/paymentGateway">
            	 	+ PaymentGateway<i class="icon-money icon-large pull-right"></i>
            	</a>
            </li>
            <li data-ng-show="paymentGetWay = PermissionService.showMenu('READ_PAYMENTGATEWAY')" class="divider"></li>
             
            <li>
            	<a class="black" data-ng-show="upload = PermissionService.showMenu('READ_UPLOADSTATUS')" href="#/importing">
             		 + {{'link.import' | translate }}<i class="icon-upload icon-large pull-right"></i>
             	</a>
            </li>
            <li data-ng-show="upload = PermissionService.showMenu('READ_UPLOADSTATUS')" class="divider"></li>
             
            <li>
            	<a class="black" data-ng-show="jobs = PermissionService.showMenu('READ_SCHEDULERJOB')" href="#/jobs">
            		 + Scheduler Jobs<i class="icon-gears icon-large pull-right"></i>
            	</a>
            </li>
            <li data-ng-show="jobs = PermissionService.showMenu('READ_SCHEDULERJOB')" class="divider"></li>
            <li ng-show="PermissionService.showMenu('CREATE_CLIENT')" class="divider"></li>
            <li>
            	<a class="black" data-ng-show="accounting = PermissionService.showMenu('READ_JOURNALENTRY','READ_GLACCOUNT','READ_GLCLOSURE','READ_ACCOUNTINGRULE')" href="#/accounting"> 
            		+ {{ 'link.accounting' | translate }}<i class="icon-money icon-large pull-right"></i>
            	</a>
            </li>
            <li data-ng-show="accounting = PermissionService.showMenu('READ_JOURNALENTRY','READ_GLACCOUNT','READ_GLCLOSURE','READ_ACCOUNTINGRULE')" class="divider"></li>
            
          	<li>
          		<a class="black" data-ng-show="PermissionService.showMenu('ALL_FUNCTIONS')" class="bolder black" href="#/help">
          			&nbsp; + {{ 'label.anchor.shortcuts' | translate }}<i class="icon-hand-left icon-large pull-right "></i>
          		</a>
          	</li>
          	
        </ul>
    </nav> -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container" style="width:1255px;">
                <a class="brand" href="#/home" style="margin: 0 0;padding:0px">
                <img style="margin-left: 4px;" data-ng-hide="image" src="./images/BillingX_logoSmall.png" alt="BillingX" height="20">
                <img data-ng-show="image" src={{image}} alt="BillingX" height="20" width="30"></a>
                
                <div class="nav-collapse collapse" id="main-menu">
                    <ul class="nav" id="main-menu-left" style="font-size:15px;">
                    
                        <!-- <li><a ng-show="PermissionService.showMenu('REPORTING_SUPER_USER')" href="#/home" ng-class="{ activate: isActive('/home') }"><i class="icon-home icon-white"></i>{{ 'link.home' | translate }}</a></li> -->
                        <li class="dropdown" id="preview-menu" data-ng-show="user||organization||system||upload||jobs||accounting||paymentGetWay||pooling||provision">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-ng-class="{ activate: isActive('admin') }" href="#">
                            	<i class="icon-wrench"></i>{{ 'link.admin' | translate }}<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
<!-- 
                                <li><a href="#/organization">{{ 'link.admin.organisation' | translate }}</a></li>
                                <li><a href="#/system">{{ 'link.admin.system' | translate }}</a></li>
                                <li><a href="#/products">{{ 'link.admin.products' | translate }}</a></li>
                                <li><a href="#/templates">{{ 'link.admin.templates' | translate }}</a></li>
                                  <li><a href="#/importing">{{'link.import' | translate }}</a></li>
                                    <li><a href="#/jobs">Scheduler Jobs</a></li>
                                <li><a href="#/accounting">{{ 'link.accounting' | translate }}</a></li>
                                 <li><a href="#/smartSearch">Smart Search</a></li>
                                <li><a href="#/paymentGateway">Payment Gateway</a></li> -->
                                <li>
                                	<a data-ng-show="system=PermissionService.showMenu('READ_DATATABLE','CREATE_CODE','READ_CODE','create_role','READ_role','UPDATE_PERMISSION','read_Audit',
                                						'READ_REPORT','READ_CONFIGURATION','READ_SERVICEMAPPING','READ_PLANMAPPING','READ_PROVISIONINGSYSTEM','READ_EVENTACTIONMAP')" href="#/system">
                                						{{ 'link.admin.system' | translate }}
                                	</a>
                                </li>
                                
                                <li>
                                	<a data-ng-show="organization=PermissionService.showMenu('READ_OFFICE','READ_STAFF','READ_CONTRACT','READ_MEDIAASSET','READ_EVENT','READ_DISCOUNT','READ_PROMOTIONCODE','READ_COUNTRYCURRENCY','READ_LOCATION',
                                							'READ_CURRENCY','READ_SERVICE','READ_PLAN','READ_REGION','READ_RANDAMGENERATOR','READ_CHARGECODE','READ_MESSAGE')" href="#/organization">
                                							{{ 'link.admin.organisation' | translate }}
                                	</a>
                                </li>
                                
                                <!-- <li>
                                	<a data-ng-show="accounting=PermissionService.showMenu('READ_JOURNALENTRY','READ_GLACCOUNT','READ_GLCLOSURE','READ_ACCOUNTINGRULE')" href="#/accounting">
                                		{{ 'link.accounting' | translate }}
                                	</a>
                                </li>
                                
                                <li>
                                	<a data-ng-show="upload=PermissionService.showMenu('READ_UPLOADSTATUS')" href="#/importing">
                                		{{'link.import' | translate }}
                                	</a>
                                </li>
                                
                                <li>
                                	<a data-ng-show="jobs=PermissionService.showMenu('READ_SCHEDULERJOB')" href="#/jobs">
                                		Scheduler Jobs
                                	</a>
                                </li> -->
                               <!--  <li>
                                	<a data-ng-show="smartsearch=PermissionService.showMenu('READ_GLACCOUNT')&&PermissionService.showMenu('READ_OFFICE')&&PermissionService.showMenu('READ_SMARTSEARCH')" href="#/smartSearch">
                                		{{ 'link.smartsearch' | translate }}
                                	</a>
                                </li> -->
                                
                                <!-- <li>
                                	<a data-ng-show="paymentGetWay=PermissionService.showMenu('READ_PAYMENTGATEWAY')" href="#/paymentGateway">
                                		{{'label.managepaymentgateway' |translate}}
                                	</a>
                                </li> -->
                                <!--  <li><a ng-show="provision=PermissionService.showMenu('READ_PROVISIONINGADAPTERSYSTEM')" href="#/provision">Provision</a></li> -->
                               <!--  <li><a href="#/eventaction">Event Actions</a></li> -->
                                <!-- <li><a href="#/disbursements">Disbursements</a></li>
                                <li><a href="#/templates">Templates</a></li>
                                <li><a href="#/disbursements">Disbursements</a></li>
                                <li><a href="#/templates">Templates</a></li> -->
                            </ul>
                        </li>
                        <!-- <li>
                        	<a data-ng-show="PermissionService.showMenu('READ_INVENTORY','READ_GRN','READ_MRN','MOVE_MRN','READ_ITEM','CREATE_SUPPLIER','READ_SUPPLIER','READ_MRNDETAILS')" href="#/inventory" data-ng-class="{ activate: isActive('/inventory') }">
                        		<i class="icon-th icon-white"></i>{{ 'link.inventory' | translate }}
                        	</a>
                        </li> -->
                        <!-- <li>
                        	<a data-ng-show="PermissionService.showMenu('READ_PROSPECT')" href="#/leads" data-ng-class="{ activate: isActive('/leads') }">
                        		<i class="icon-filter"></i>{{ 'link.prospects' | translate }}
                        	</a>
                        </li> -->
                        <!-- <li>
                        	<a data-ng-show="PermissionService.showMenu('READ_CLIENT','CREATE_CLIENT','ACTIVATIONPROCESS_ACTIVATE')" href="#/clients"  data-ng-class="{ activate: isActive('/clients') }">
                        		<i class="icon-group"></i>{{ 'link.clients.clients' | translate }}
                        	</a>
                        </li> -->
                        
                        <!-- <li>
                        	<a data-ng-show="PermissionService.showMenu('READ_INVENTORY','READ_GRN','READ_MRN','MOVE_MRN','READ_ITEM','CREATE_SUPPLIER','READ_SUPPLIER','READ_MRNDETAILS')" href="#/inventory" data-ng-class="{ activate: isActive('/inventory') }">
                        		<i class="icon-th icon-white"></i>{{ 'link.inventory' | translate }}
                        	</a>
                        </li> -->
                        
                        <!-- <li>
                        	<a data-ng-show="PermissionService.showMenu('READ_CLIENT','CREATE_CLIENT','ACTIVATIONPROCESS_ACTIVATE')" href="#/clients"  data-ng-class="{ activate: isActive('/clients') }">
                        		<i class="icon-group"></i>{{ 'link.clients.clients' | translate }}
                        	</a>
                        </li> -->
                        
                        <!-- <li>
                        	<a data-ng-show="PermissionService.showMenu('READ_TICKET')" data-ng-class="{ activate: isActive('assignedtickets') }" href="#/assignedtickets">
                        		<i class="icon-money"></i>{{ 'link.tickets' | translate }}
                        	</a>
                        </li> -->
                        <!-- <li class="dropdown" id="preview-menu" data-ng-show="PermissionService.showMenu('READ_REPORT')">
                        	<a class="dropdown-toggle" data-toggle="dropdown" data-ng-class="{ activate: isActive('rep') }" href="#"><i class="icon-bar-chart"></i>{{ 'link.reports' | translate }}<b class="caret"></b></a>
                        	<ul class="dropdown-menu">
                        		<li>
                        			<a href="#/reports/all">{{ 'link.reports.all' | translate }}</a>
                        		</li>
                        		
                            	<li>
                            		<a href="#/reports/clients">{{ 'link.reports.clients' | translate }}</a>
                            	</li>
                            	
                            	<li>
                            		<a href="#/reports/Orders">{{ 'link.reports.orders' | translate }}</a>
                            	</li>
                            	
                            	<li>
                            		<a href="#/reports/tickets">{{ 'link.reports.tickets' | translate }}</a>
                            	</li>
                            	
                            	<li>
                            		<a href="#/reports/inventory">{{ 'link.reports.inventory' | translate }}</a>
                            	</li>
                            	
                            	<li>
                            		<a href="#/reports/leads">{{ 'link.reports.leads' | translate }}</a>
                            	</li>
                            	
                            	<li>
                            		<a href="#/reports/invoice&collections">{{ 'link.reports.invoice&collections' | translate }}</a>

                            	</li> 
                        	</ul>
                        </li>-->
                        <!-- <li>
                        	<a data-ng-show="PermissionService.showMenu('READ_PROSPECT')" href="#/leads" data-ng-class="{ activate: isActive('/leads') }">
                        		<i class="icon-filter"></i>{{ 'link.prospects' | translate }}
                        	</a>
                        </li> -->
                         
                        <!-- <li class="dropdown" id="preview-menu" data-ng-show="user||organization||system||upload||jobs||accounting||paymentGetWay||pooling||provision">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-ng-class="{ activate: isActive('admin') }" href="#">
                            	<i class="icon-wrench"></i>{{ 'link.admin' | translate }}<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">

                                <li><a href="#/organization">{{ 'link.admin.organisation' | translate }}</a></li>
                                <li><a href="#/system">{{ 'link.admin.system' | translate }}</a></li>
                                <li><a href="#/products">{{ 'link.admin.products' | translate }}</a></li>
                                <li><a href="#/templates">{{ 'link.admin.templates' | translate }}</a></li>
                                  <li><a href="#/importing">{{'link.import' | translate }}</a></li>
                                    <li><a href="#/jobs">Scheduler Jobs</a></li>
                                <li><a href="#/accounting">{{ 'link.accounting' | translate }}</a></li>
                                 <li><a href="#/smartSearch">Smart Search</a></li>
                                <li><a href="#/paymentGateway">Payment Gateway</a></li>
                                

                             
                                <li>
                                	<a data-ng-show="system=PermissionService.showMenu('READ_DATATABLE','CREATE_CODE','READ_CODE','create_role','READ_role','UPDATE_PERMISSION','read_Audit',
                                						'READ_REPORT','READ_CONFIGURATION','READ_SERVICEMAPPING','READ_PLANMAPPING','READ_PROVISIONINGSYSTEM','READ_EVENTACTIONMAP')" href="#/system">
                                						{{ 'link.admin.system' | translate }}
                                	</a>
                                </li>
                                
                                <li>
                                	<a data-ng-show="organization=PermissionService.showMenu('READ_OFFICE','READ_STAFF','READ_CONTRACT','READ_MEDIAASSET','READ_EVENT','READ_DISCOUNT','READ_PROMOTIONCODE','READ_COUNTRYCURRENCY','READ_LOCATION',
                                							'READ_CURRENCY','READ_SERVICE','READ_PLAN','READ_REGION','READ_RANDAMGENERATOR','READ_CHARGECODE','READ_MESSAGE')" href="#/organization">
                                							{{ 'link.admin.organisation' | translate }}
                                	</a>
                                </li>
                                
                                <li>
                                	<a data-ng-show="accounting=PermissionService.showMenu('READ_JOURNALENTRY','READ_GLACCOUNT','READ_GLCLOSURE','READ_ACCOUNTINGRULE')" href="#/accounting">
                                		{{ 'link.accounting' | translate }}
                                	</a>
                                </li>
                                
                                <li>
                                	<a data-ng-show="upload=PermissionService.showMenu('READ_UPLOADSTATUS')" href="#/importing">
                                		{{'link.import' | translate }}
                                	</a>
                                </li>
                                
                                <li>
                                	<a data-ng-show="jobs=PermissionService.showMenu('READ_SCHEDULERJOB')" href="#/jobs">
                                		Scheduler Jobs
                                	</a>
                                </li>
                                <li>
                                	<a data-ng-show="smartsearch=PermissionService.showMenu('READ_GLACCOUNT')&&PermissionService.showMenu('READ_OFFICE')&&PermissionService.showMenu('READ_SMARTSEARCH')" href="#/smartSearch">
                                		{{ 'link.smartsearch' | translate }}
                                	</a>
                                </li>
                                
                                <li>
                                	<a data-ng-show="paymentGetWay=PermissionService.showMenu('READ_PAYMENTGATEWAY')" href="#/paymentGateway">
                                		{{'label.managepaymentgateway' |translate}}
                                	</a>
                                </li>
                                 <li><a ng-show="provision=PermissionService.showMenu('READ_PROVISIONINGADAPTERSYSTEM')" href="#/provision">Provision</a></li>
                                <li><a href="#/eventaction">Event Actions</a></li>
                                <li><a href="#/disbursements">Disbursements</a></li>
                                <li><a href="#/templates">Templates</a></li>
                                <li><a href="#/disbursements">Disbursements</a></li>
                                <li><a href="#/templates">Templates</a></li>
                            </ul>
                        </li>
 -->                    </ul>
                    <ul class="nav pull-right" id="main-menu-right">
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                        <li>
                        	<form data-ng-show="PermissionService.showMenu('READ_SEARCH')" data-ng-submit="search()" class="navbar-search pull-left ng-pristine ng-valid">
			                    <input id="search" data-ng-model="search.query" type="text" placeholder="{{ 'label.searchorpress' | translate }}" class="search-query span3">
			                </form>
                        </li>
                        <li>
                        	<a class="brand " href="#/smartSearch" style="font-size: 14px; text-shadow: 0px 0px 0px; padding: 10px 45px;" 
                    			data-ng-show="PermissionService.showMenu('READ_GLACCOUNT')&&PermissionService.showMenu('READ_OFFICE')&&PermissionService.showMenu('READ_SMARTSEARCH')">
		                    	<img src=./images/advanced_search_icon.png alt="smart-search" width="30" data-popover-placement="bottom" 
		                              data-popover="{{'link.smartsearch'|translate}}" data-popover-trigger="mouseenter">
							</a>
                        </li>
                        <li style="margin-top:15px;" data-ng-click="goBack()">
                         <input type="image"  data-popover-placement="bottom" 
                              data-popover="Go Back" data-popover-trigger="mouseenter"  src="./images/go-back-icon.png" width="20px" height="20px">
                        	<!-- <a href="" ng-click="goBack()">
                        			<img src="./images/go-back-icon.png" alt="GoBack" width="20px">
                        		<i class="icon-circle-arrow-left icon-white"></i>
                        	</a> popover-placement="bottom"
                  				popover-trigger="mouseenter"-->
                        </li>
                        <li class="dropdown" id="preview-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{currentSession.user.name}}<b class="caret"></b>
                              <span  style="font-family:arial;color:red;font-size:15px;">{{unreadMessage}}</span>
                            </a>
                          
                            <ul class="dropdown-menu">
                                <li><a href="#/profile"><i class="icon-user"></i>{{ 'link.profile' | translate }}</a></li>
                                 <li><a data-ng-show="PermissionService.showMenu('READ_USERCHATMESSAGE')" href="#/messanger"><i class="icon-envelope"></i>{{ 'link.messanger' | translate }}</a></li>

                                  <li><a data-ng-show="PermissionService.showMenu('ALL_FUNCTIONS')" id="changePWD" data-ng-click="changePwd()"><i class="icon-cog"></i>{{ 'label.changepassword' | translate }}</a></li>
                                <li><a data-ng-show="PermissionService.showMenu('ALL_FUNCTIONS')" href="#/usersetting"><i class="icon-cog"></i>{{ 'link.settings' | translate }}</a></li>
                                <li><a id="logout" data-ng-click="logout()"><i class="icon-off"></i>{{ 'link.logout' | translate }}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- <form data-ng-show="PermissionService.showMenu('READ_SEARCH')" data-ng-submit="search()" class="navbar-search pull-left ng-pristine ng-valid">
                    <input id="search" data-ng-model="search.query" type="text" placeholder="{{ 'label.searchorpress' | translate }}" class="search-query span3">
                    </form> -->
                    <!-- <a  data-ng-show="PermissionService.showMenu('READ_GLACCOUNT')&&PermissionService.showMenu('READ_OFFICE')&&PermissionService.showMenu('READ_SMARTSEARCH')"  
                    		href="#/smartSearch" style="margin-top: 9px;margin-left: 20px;">
                    		<img src=./images/advanced_search_icon.png alt="smart-search" width="50" data-popover-placement="bottom" 
                              data-popover="{{'link.smartsearch'|translate}}" data-popover-trigger="mouseenter">
                    		<input type="image"  data-popover-placement="bottom" 
                              data-popover="{{'link.smartsearch'|translate}}" data-popover-trigger="mouseenter"  src="./images/advanced_search_icon.png" width="50px">
                    </a> -->

                    <!-- <a class="brand " href="#/smartSearch" style="font-size: 14px; text-shadow: 0px 0px 0px; padding: 10px 45px;" 
                    			data-ng-show="PermissionService.showMenu('READ_GLACCOUNT')&&PermissionService.showMenu('READ_OFFICE')&&PermissionService.showMenu('READ_SMARTSEARCH')">
                    	<img src=./images/advanced_search_icon.png alt="smart-search" width="30" data-popover-placement="bottom" 
                              data-popover="{{'link.smartsearch'|translate}}" data-popover-trigger="mouseenter">
					</a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container whitebg1 fullscreen bodywidth">
      <div>
        <div class="row-fluid whitebg1">
            <div class="span12 pull-right whitebg1">
                <div class="whitebg1" data-ng-view></div>
            </div>
            <!-- Footer -->
            <hr>
        </div> <!-- /row-fluid -->
       </div><!-- /blockui-->
    </div><!-- /container -->
</div>
<!-- </div> -->
<!-- Le javascript -->
<script type='text/javascript' data-main="scripts/loader.js" src='bower_components/requirejs/require.js'></script>
<script type="text/ng-template" id="licensekey.html">
		
	<div class="modal-header silver">
        <h3 class="bolder">Update LicenseKey</h3>
    </div>
<div class="padded-td"><strong>Your License valid till :<span style="color:red">{{kayinfo}}<span></strong></div>
    <div class="modal-body" style="height:160px;">
 <div class="error" ng-show="errorStatus || errorDetails">
		                 <label>{{'label.contract.error' | translate}}</label>
		                 <label ng-show="errorStatus">{{errorStatus}}</label>
		                 <label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	                     </div>
       <fieldset>
 <div class="control-group">
			<label class="control-label" for="quality">{{'label.licensekey' | translate }}</label>
			<div class="controls">
             <input type="text" id="licensekey" ng-model="formData.key">
            </div>
	   </div>
 
    </fieldset>
    </div>
     <div class="modal-footer">
        <button id="cancel" class="btn btn-warning" ng-click="cancelRenewal()">{{'button.cancel' | translate}}</button>
     	<button id="submit" class="btn btn-primary" ng-click="updateKey()" ng-disabled="flagOrderRenewal">{{'label.confirm' | translate}}</button>
  </div>

</script>
<script type="text/ng-template" id="licensemessagespopup.html">
        <div class="modal-body modal-small" style="padding:25px 0px 0px 35px;">
                       	<div class="control-group">
							<div class="controls">
							   <span><img src="./images/info-icon.png" width="20px;" /></span>{{licenseMsg}}
							</div>	
						</div>
                    </div>
					<div class="modal-footer">
                        <a id="submit" class="btn btn-primary" ng-click="approve()">{{'btn.ok' | translate}}</a>
                    </div>
      </script>
<script type="text/ng-template" id="changepassword.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.changepassword' | translate}}</h3>
        </div>

        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="password">{{ 'label.password' | translate }}</label>
                <div class="controls">
                    <input type="password" id="password" ng-model="formData.password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="repeatPassword">{{ 'label.repeatpassword' | translate }}</label>
                <div class="controls">
                    <input type="password" id="repeatPassword" ng-model="formData.repeatPassword">
                </div>
            </div>
        </div>

        <div class="modal-footer silver">
            <button class="btn btn-warning" ng-click="cancel()">{{'label.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="submit()">{{'label.save' | translate}}</button>
        </div>
</script>
</body>



</html>
