<div>
	<ul class="breadcrumb">
		<li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
		<li><a href="#/addressmanage">{{'label.manageaddresses' | translate}}</a> <span class="divider">/</span></li>
		<li class="active">{{'label.countrylist' | translate}}</li>
	</ul>
</div>

<div class="row-fluid" ng-controller="AddressTreeviewController">
	<div class="pull-right">
		<a  href="#/addressmanage" class="btn btn-primary"><i class="icon-list icon-white"></i>List View</a>
		<button ng-show="PermissionService.showMenu('CREATE_LOCATION')" type="button" class="btn btn-primary" ng-click="addCountry()" ><i class="icon-plus icon-white"></i>Add Country</button>
	</div>
 	<div>
 	<br>
	  <div
		data-angular-treeview="true"
		data-tree-id="treeview"
		data-tree-model="treedata"
		data-node-id="id"
		data-node-label="name"
		data-node-children="children" >
		</div>
  
       <ul id="context1" class="dropdown-menu">
            <li ng-show="PermissionService.showMenu('CREATE_LOCATION')"><a ng-click="addState()">Add State</a></li>
            <li ng-show="PermissionService.showMenu('UPDATE_LOCATION')"><a ng-click="editCountry()">Edit Country</a></li>
            <li ng-show="PermissionService.showMenu('DELETE_LOCATION')"><a ng-click="deleteCountry()">Delete Country</a></li>
       </ul>
        <ul id="context2" class="dropdown-menu">
            <li ng-show="PermissionService.showMenu('CREATE_LOCATION')"><a ng-click="addCity()">Add City</a></li>
            <li ng-show="PermissionService.showMenu('UPDATE_LOCATION')"><a ng-click="editState()">Edit State</a></li>
            <li ng-show="PermissionService.showMenu('DELETE_LOCATION')"><a ng-click="deleteState()">Delete State</a></li>
       </ul>
        <ul id="context3" class="dropdown-menu">
            <li ng-show="PermissionService.showMenu('UPDATE_LOCATION')"><a ng-click="editCity()">Edit City</a></li>
            <li ng-show="PermissionService.showMenu('DELETE_LOCATION')"><a ng-click="deleteCity()">Delete City</a></li>
       </ul>
    </div>
    
   <script type="text/ng-template" id="addCountry.html">
        <div class="modal-header silver">
          <h3 class="bolder">Add Country</h3>
        </div>
	 <form name="createcountryform" novalidate="" class="form-horizontal well" ng-submit="submit()">
		<div class="error" ng-show="errorStatus || errorDetails">
				<label>{{'label.contract.error' | translate}}</label>
				<label ng-show="errorStatus">{{errorStatus}}</label>
				<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate : error.args}}</label>
	    </div>
        <div class="modal-body">
 		  <fieldset>
           	<div class="control-group">
				<label class="control-label" for="entityCode">Country Code<span class="required">*</span></label>
			 	<div class="controls">
              		<input  type="text" name="countryCode" id="countryCode" ng-model="formData.entityCode" placeholder="enter code here" data-ng-maxlength="{{'code' | CodeValidate}}"/><br>
					<span data-ng-show="createcountryform.countryCode.$dirty && createcountryform.countryCode.$invalid">
						<small class="error-row">{{'error.code.definition.length.validation'| translate}}</small>
					</span>
            	</div>
           	</div>
          	<div class="control-group">
            	 <label class="control-label" for="entityName">Country Name<span class="required">*</span></label>
			 	 <div class="controls">
              		<input type="text" name="countryName" id="countryName" ng-model="formData.entityName" placeholder="enter name here" /><br>
            	 </div>
	      	</div>
		  </fieldset>
        </div>
        <div class="modal-footer">
          <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
     	  <button id="submit" type="submit" data-ng-disabled="createcountryform.$dirty && createcountryform.$invalid" class="btn btn-primary" >{{'label.confirm' | translate}}</button>
        </div>
	</form>
    </script>
    <script type="text/ng-template" id="editCountry.html">
        <div class="modal-header silver">
          <h3 class="bolder">Edit Country</h3>
        </div>
	<form name="editcountryform" novalidate="" class="form-horizontal well" ng-submit="submit()">
		<div class="error" ng-show="errorStatus || errorDetails">
				<label>{{'label.contract.error' | translate}}</label>
				<label ng-show="errorStatus">{{errorStatus}}</label>
				<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate : error.args}}</label>
	    </div>
        <div class="modal-body" >
 		  <fieldset>
           	<div class="control-group">
				<label class="control-label" for="entityCode">Country Code<span class="required">*</span>:</label>
			 	<div class="controls">
              		<input  type="text" name="countryCode" id="countryCode" ng-model="formData.entityCode" placeholder="enter code here" data-ng-maxlength="{{'code' | CodeValidate}}"/><br>
					<span data-ng-show="editcountryform.countryCode.$dirty && editcountryform.countryCode.$invalid">
						<small class ="error-row">{{'error.code.definition.length.validation'| translate}}</small>
					</span>
            	</div>
           	</div>
          	<div class="control-group">
            	 <label class="control-label" for="entityName">Country Name<span class="required">*</span>:</label>
			 	 <div class="controls">
              		<input  type="text" name="countryName" id="countryName" ng-model="formData.entityName" placeholder="enter name here" /><br>
            	 </div>
	      	</div>
		  </fieldset>
        </div>
        <div class="modal-footer">
          <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
     	  <button id="submit" data-ng-disabled="editcountryform.$dirty && editcountryform.$invalid" class="btn btn-primary">{{'label.confirm' | translate}}</button>
        </div>
	</form>
    </script>
    <script type="text/ng-template" id="deleteCountry.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">Delete Country</h3>
                    </div>
                    <div class="modal-body" style="height:60px;">
                       <h4>Are you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approveDeleteCountry()">{{'label.confirm' | translate}}</button>
                    </div>
      </script>
    
    <script type="text/ng-template" id="addState.html">
        <div class="modal-header silver">
          <h3 class="bolder">Add State</h3>
        </div>
	 <form name="createstateform" novalidate="" class="form-horizontal well" ng-submit="submit()">
		<div class="error" ng-show="errorStatus || errorDetails">
				<label>{{'label.contract.error' | translate}}</label>
				<label ng-show="errorStatus">{{errorStatus}}</label>
				<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate : error.args}}</label>
	    </div>
        <div class="modal-body">
 		  <fieldset>
           	<div class="control-group">
				<label class="control-label" for="entityCode">State Code<span class="required">*</span></label>
			 	<div class="controls">
              		<input  type="text" name="stateCode" id="stateCode" ng-model="formData.entityCode" placeholder="enter code here" data-ng-maxlength="{{'code' | CodeValidate}}"/><br>
					<span data-ng-show="createstateform.stateCode.$dirty && createstateform.stateCode.$invalid">
						<small class="error-row">{{'error.code.definition.length.validation'| translate}}</small>
					</span>
            	</div>
           	</div>
          	<div class="control-group">
            	 <label class="control-label" for="entityName">State Name<span class="required">*</span></label>
			 	 <div class="controls">
              		<input  type="text" name="stateName" id="stateName" ng-model="formData.entityName" placeholder="enter name here" /><br>
            	 </div>
	      	</div>
			<div class="control-group">
				<label class="control-label" for="country">For This Country </label>
				<div class="controls">
             		 <input  type="text" ng-model="nodeName" readonly/>
             		
            	</div>
	   		</div>
		  </fieldset>
        </div>
        <div class="modal-footer">
          <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
     	  <button id="submit" data-ng-disabled="createstateform.$dirty && createstateform.$invalid" class="btn btn-primary" >{{'label.confirm' | translate}}</button>
        </div>
	</form>
    </script>
    <script type="text/ng-template" id="editState.html">
        <div class="modal-header silver">
          <h3 class="bolder">Edit State</h3>
        </div>
	<form name="editstateform" novalidate="" class="form-horizontal well" ng-submit="submit()">
		<div class="error" ng-show="errorStatus || errorDetails">
				<label>{{'label.contract.error' | translate}}</label>
				<label ng-show="errorStatus">{{errorStatus}}</label>
				<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate : error.args}}</label>
	    </div>
        <div class="modal-body">
 		  <fieldset>
           	<div class="control-group">
				<label class="control-label" for="entityCode">State Code<span class="required">*</span>:</label>
			 	<div class="controls">
              		<input  type="text" name="stateCode" id="stateCode" ng-model="formData.entityCode" placeholder="enter code here" data-ng-maxlength="{{'code' | CodeValidate}}" /><br>
					<span data-ng-show="editstateform.stateCode.$dirty && editstateform.stateCode.$invalid">
						<small class="error-row">{{'error.code.definition.length.validation'| translate}}</small>
					</span>
            	</div>
           	</div>
          	<div class="control-group">
            	 <label class="control-label" for="entityName">State Name<span class="required">*</span>:</label>
			 	 <div class="controls">
              		<input  type="text" name="stateName" id="stateName" ng-model="formData.entityName" placeholder="enter name here" /><br>
            	 </div>
	      	</div>
		  </fieldset>
        </div>
        <div class="modal-footer">
          <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
     	  <button id="submit" data-ng-disabled="editstateform.$dirty && editstateform.$invalid" class="btn btn-primary" ng-disabled="!editstateform.$valid">{{'label.confirm' | translate}}</button>
        </div>
	</form>
    </script>
    <script type="text/ng-template" id="deleteState.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">Delete State</h3>
                    </div>
                    <div class="modal-body" modal-middle>
                       <h4>Are you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approveDeleteState()">{{'label.confirm' | translate}}</button>
                    </div>
      </script>
      
     <script type="text/ng-template" id="addCity.html">
        <div class="modal-header silver">
          <h3 class="bolder">Add City</h3>
        </div>
	<form name="createcityform" novalidate="" class="form-horizontal well" ng-submit="submit()">
		<div class="error" ng-show="errorStatus || errorDetails">
				<label>{{'label.contract.error' | translate}}</label>
				<label ng-show="errorStatus">{{errorStatus}}</label>
				<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate : error.args}}</label>
	    </div>
        <div class="modal-body">
 		  <fieldset>
           	<div class="control-group">
				<label class="control-label" for="entityCode">City Code<span class="required">*</span>:</label>
			 	<div class="controls">
              		<input  type="text" name="cityCode" id="cityCode" ng-model="formData.entityCode" placeholder="enter code here" data-ng-maxlength="{{'code' | CodeValidate}}"/><br>
					<span data-ng-show="createcityform.cityCode.$dirty && createcityform.cityCode.$invalid">
						<small class="error-row">{{'error.code.definition.length.validation'| translate}}</small>
					</span>
            	</div>
           	</div>
          	<div class="control-group">
            	 <label class="control-label" for="entityName">City Name<span class="required">*</span>:</label>
			 	 <div class="controls">
              		<input  type="text" name="cityName" id="cityName" ng-model="formData.entityName" placeholder="enter name here" /><br>
            	 </div>
	      	</div>
			<div class="control-group">
				<label class="control-label" for="state">For This State :</label>
				<div class="controls">
             		 <input  type="text" ng-model="nodeName" readonly/>
            	</div>
	   		</div>
		  </fieldset>
        </div>
        <div class="modal-footer">
          <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
     	  <button id="submit" data-ng-disabled="createcityform.$dirty && createcityform.$invalid" class="btn btn-primary" >{{'label.confirm' | translate}}</button>
        </div>
	</form>
    </script>
        <script type="text/ng-template" id="editCity.html">
        <div class="modal-header silver">
          <h3 class="bolder">Edit City</h3>
        </div>
	<form name="editcityform" novalidate="" class="form-horizontal well" ng-submit="submit()">
		<div class="error" ng-show="errorStatus || errorDetails">
				<label>{{'label.contract.error' | translate}}</label>
				<label ng-show="errorStatus">{{errorStatus}}</label>
				<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate : error.args}}</label>
	    </div>
        <div class="modal-body">
 		  <fieldset>
           	<div class="control-group">
				<label class="control-label">City Code<span class="required">*</span>:</label>
			 	<div class="controls">
              		<input  type="text" name="cityCode" id="cityCode" ng-model="formData.entityCode" placeholder="enter code here" data-ng-maxlength="{{'code' | CodeValidate}}" /><br>
					<span data-ng-show="editcityform.cityCode.$dirty && editcityform.cityCode.$invalid">
						<small class="error-row">{{'error.code.definition.length.validation'| translate}}</small>
					</span>
            	</div>
           	</div>
          	<div class="control-group">
            	 <label class="control-label" >City Name<span class="required">*</span>:</label>
			 	 <div class="controls">
              		<input  type="text" name="cityName" id="cityName" ng-model="formData.entityName" placeholder="enter name here" /><br>
            	 </div>
	      	</div>
		  </fieldset>
        </div>
        <div class="modal-footer">
          <button id="cancel" class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
     	  <button id="submit" data-ng-disable = "editcityform.$dirty && editcityform.$invalid" class="btn btn-primary" ng-disabled="!editcityform.$valid">{{'label.confirm' | translate}}</button>
        </div>
	</form>
    </script>
    <script type="text/ng-template" id="deleteCity.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">Delete City</h3>
                    </div>
                    <div class="modal-body" modal-middle>
                       <h4>Are you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approveDeleteCity()">{{'label.confirm' | translate}}</button>
                    </div>
      </script>
      <script type="text/ng-template" id="countryAlert.html">
					<div class="modal-header silver">
                        <h3 class="bolder">Warning</h3>
                    </div>
                    <div class="modal-body" modal-middle>
                       <i class="icon-warning-sign error"></i>Unable to delete <span style='color:blue;font-size:15px;'><strong>"{{countryName}}"</strong></span>,it seems have some states.
                    </div>
                    <div class="modal-footer">
						<button class="btn btn-primary" ng-click="approve()">ok</button>
                    </div>
      </script>
     <script type="text/ng-template" id="stateAlert.html">
					<div class="modal-header silver">
                        <h3 class="bolder">Warning</h3>
                    </div>
                    <div class="modal-body" modal-middle>
                       <i class="icon-warning-sign error"></i>Unable to delete <span style='color:blue;font-size:15px;'><strong>"{{stateName}}"</strong></span>,it seems have some cities. 
                    </div>
                    <div class="modal-footer">
						<button class="btn btn-primary" ng-click="approve()">ok</button>
                    </div>
      </script>
 </div> 
   