 <div ng-controller="EditEventPriceController" >
 <div>
		<ul class="breadcrumb">
			<li><a href="#/event">{{'label.event' |
					translate}}</a> <span class="divider">/</span></li>
			<li><a href="#/viewEvent/{{formData.eventId}}">{{'label.viewevent' | 
			        translate}}</a> <span class="divider">/</span></li>
			<li><a href="#/viewEventPrices/{{formData.eventId}}">{{'label.viewprice' | translate}}</a>
				<span class="divider">/</span></li>
			<li><a href="#/viewEventPrice/{{formData.id}}">{{'link.admin.vieweventprice'
					| translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{formData.eventName}}</li>
		</ul>
	</div>
 <form name="editeventpriceform" class="form-horizontal well" ng-submit="submit()">
	
	 <div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label ng-show="errorStatus">{{errorStatus}}</label>
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
	<fieldset>
		<legend>{{'label.editeventprice' | translate}}</legend>
		<table width="100%">
			<tr>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="eventId">{{'label.eventprice.eventid' | translate }}</label>
						<div class="controls">
							<input type="text" id="eventId" ng-model="formData.eventId" readonly>
						</div>
					</div>
				</td>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="clientType">{{'label.eventprice.clienttype' | translate }}</label>
						<div class="controls">
							<select ng-model="formData.clientTypeId"
								ng-options="clienttype.id as clienttype.type for clienttype in ClientTypes"
								value="{{clienttype.id}}"></select>
						</div>
					</div>
				</td>
			</tr>
             <tr>
                   <td width="50%">
					<div class="control-group">
						<label class="control-label" for="formatType">{{'label.eventprice.formattype' | translate }}</label>
						<div class="controls">
							<select ng-model="formData.formatType"
								ng-options="formats.formatType as formats.formatType for formats in Format"
								value="{{formats.formatType}}"></select>
						</div>
					</div>
				</td>
				
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="discount">{{'label.eventprice.discount' | translate }}</label>
						<div class="controls">
							<select ng-model="formData.discountId"
								ng-options="discountdata.id as discountdata.discountDescription for discountdata in Discountdatas"
								value="{{discountdata.id}}"></select>
						</div>
					</div>
				</td>
             </tr>
			<tr>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="optType">{{'label.eventprice.opttype' | translate }}</label>
						<div class="controls">
							<select ng-model="formData.optType"
								ng-options="optType.value as optType.value for optType in OptTypes"
								value="{{optType.value}}"></select>
						</div>
					</div>
				</td>
				<td>
					<div class="control-group">
						<label class="control-label" for="price">{{'label.eventprice.amount' | translate }}</label>
						<div class="controls">
							<input type="text" id="eventValidity" name="amount" ng-model="formData.price" data-ng-pattern="{{ 'integer' | CodeValidate }}"></br>
							<span data-ng-show="editeventpriceform.amount.$dirty && editeventpriceform.amount.$invalid">
								<small class="error-row" data-ng-show="editeventpriceform.amount.$error.pattern">{{'error.not.numeric.validation' | translate }}</small>
							</span>
						</div>
					</div>
				</td>

			</tr>
		</table>
		
		<div class="offset3">
			<a href="#/viewEventPrice/{{formData.id}}"><button type="reset" class="btn">Cancel</button></a>
			<button type="submit" data-ng-disabled="editeventpriceform.$dirty && editeventpriceform.$invalid" class="btn btn-primary">Save</button>
		</div>
	</fieldset>
</form>
 </div> 