      <div data-ng-controller="EditPriceController" >
       <div>
        <ul class="breadcrumb">
              <li><a href="#/plans">{{'link.admin.plans' | translate}}</a> <span class="divider">/</span></li>
               <li><a href="#/viewprice/{{formData.priceId}}/{{formData.planId}}">{{formData.planCode}}</a><span class="divider">/</span></li>
              <li class="active">{{formData.priceId}}</li>
          </ul>
      </div>
      <form name="editpriceform" class="form-horizontal well" data-ng-submit="submit()">
       <div class="error" data-ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
        <fieldset>
          <legend>{{'label.editprice' | translate}}</legend>
          <table style="width:100%;">
           <tr>
           <td width="50%">
          <div class="control-group">
            <label class="control-label" for="planCode">{{ 'label.plan.plancode' | translate }}</label>
            <div class="controls">
              <input type="text" id="planCode" data-ng-model="formData.planCode" value="formData.planCode" readonly>
            </div>
          </div>
          
            <td width="50%">
          <div class="control-group">
            <label class="control-label" for="chargevariant">{{ 'label.price.chargevariant' | translate }}</label>
            <div class="controls">
              <select id="chargevariant" data-ng-model="formData.chargeVariantId"  data-ng-options="chargevariant.id as chargevariant.value for chargevariant in chargevariants"></select>
            </div>
          </div>
          </td>
          </tr>
           <tr>
            <td width="50%">
          <div class="control-group">
            <label class="control-label" for="servicecode">{{ 'label.plan.servicecode' | translate }}</label>
            <div class="controls">
               <select id="servicecode" data-ng-model="formData.serviceCode"  data-ng-options="serviceData.serviceCode as serviceData.serviceDescription for serviceData in serviceDatas"></select>
            </div>
          </div>
          </td>
          
                  <td width="50%">
          <div class="control-group">
            <label class="control-label" for="discountCode">{{ 'label.price.discountcode' | translate }}</label>
            <div class="controls">
              <select data-ng-model="formData.discountId"  data-ng-options="discountdata.id as discountdata.discountDescription for discountdata in discountdatas"></select>
            </div>
          </div>
          </td>
          </tr>
          <tr>
            <td width="50%">
          <div class="control-group">
            <label class="control-label" for="chargecode">{{ 'label.price.chargecode' | translate }}</label>
            <div class="controls">
               <select id="chargecode" data-ng-model="formData.chargeCode"  data-ng-options="chargeData.chargeCode as chargeData.chargeDescription for chargeData in chargeDatas"></select>
            </div>
          </div>
          </td>
            
               <td width="50%">
          <div class="control-group">
            <label class="control-label" for="priceregion">{{ 'label.price.priceregion' | translate }}</label>
            <div class="controls">
            <select data-ng-model="formData.priceregion"  data-ng-options="priceRegionData.id as priceRegionData.priceregionCode for priceRegionData in priceRegionDatas"></select>
            </div>
          </div>
          </td>
            </tr>
            <tr>
             <td>
          <div class="control-group">
            <label class="control-label" for="amount">{{ 'label.price.amount' | translate }}</label>
            <div class="controls">
            <input type="text" id="price" name="price" data-ng-model="formData.price" data-ng-pattern="{{'decimal' | CodeValidate}}"></br>
            <span data-ng-show="editpriceform.price.$dirty && editpriceform.price.$invalid">
            	<small class="error-row">{{'error.not.decimal.validation' | translate}}</small>
            </span>
            </div>
          </div>
          </td>
          <td>
          	<div data-ng-show="formData.isPrepaid == 'Y'">
            	<div class="control-group">
              	<label class="control-label" for="duration">{{ 'label.plan.duration' | translate }}</label>
              	<div class="controls">
                	<select data-ng-model="formData.duration"  data-ng-options="subscriptiondata.Contractdata as subscriptiondata.Contractdata for subscriptiondata in subscriptiondata"></select>
              	</div>
              	 </div>
              </div>
              </td>
          </tr>
          </table>
      
          <div class="offset3">
            <a href="#/viewprice/{{formData.priceId}}/{{formData.planId}}"><button id="cancel" type="reset" class="btn">{{'button.cancel'| translate}}</button></a>
            <button id="submit" type="submit" data-ng-disabled="editpriceform.$dirty && editpriceform.$invalid" class="btn btn-primary">{{'button.save'| translate}}</button>
          </div>
        </fieldset>
      </form>
 </div>