<div data-ng-controller="ViewPlanController">
	<div class="paddedbottom10">
		<ul class="breadcrumb">
	        <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
	        <li><a href="#/plans">{{'label.plans' | translate}}</a> <span class="divider">/</span></li>
	        <li class="active">{{plan.planCode}}</li>
	    </ul>
	    <div class="pull-right">
	      <div class="btn-group">
	         <a data-ng-show="PermissionService.showMenu('UPDATE_PLAN')" href="#/editplan/{{plan.id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i> Edit</a>
	         <a data-ng-show="PermissionService.showMenu('DELETE_PLAN')" data-ng-click="deleteplan()" class="btn btn-primary"><i class="icon-trash icon-white"></i> Delete</a>
	         <a data-ng-show="PermissionService.showMenu('READ_PRICE')" href="#/prices/{{plan.id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i> View Price</a>
	         <a data-ng-show="PermissionService.showMenu('CREATE_PRICE')&&PermissionService.showMenu('READ_PRICE')" href="#/createprice/{{plan.id}}" class="btn btn-primary"><i class="icon-edit icon-white"></i> Add Price</a>
	      </div>
	    </div>
	</div>
	
	<script type="text/ng-template" id="approve.html">
                    <div class="modal-header silver">
                        <h3 class="bolder">{{'dialog.plan.title.message' | translate}}</h3>
                    </div>
                    <div class="modal-body modal-small">
                       <h4>Are you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()">{{'button.cancel' | translate}}</button>
                        <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
                    </div>
      </script>
	
	<div class="row paddedleft">
		<h3>{{contractperiod.name}}</h3>
		<table style="width:100%;">
			<tr>
				<td width="20%">{{ 'label.plan.plandescription' | translate }}</td>
				<td width="70%">{{plan.planDescription}}</td>
			</tr>
			<tr>
				<td>{{ 'label.plan.status' | translate }}</td>
				<td>{{plan.status}}</td>
			</tr>
			<tr>
				<td>{{ 'label.plan.startdate' | translate }}</td>
				<td>{{plan.startDate | DateFormat}}</td>
			</tr>
			<tr>
				<td>{{ 'label.plan.billingrule' | translate }}</td>
				<td>{{plan.billRule}}</td>
			</tr>
			<tr>
				<td>{{ 'label.plan.provisioningsystem' | translate }}</td>
				<td>{{plan.provisionSystem}}</td>
			</tr>
			<tr>
				<td valign="top">{{ 'label.plan.service' | translate }}</td>
				<td>
					<table>
						<tr data-ng-repeat="selectedService in plan.selectedServices">
							<td>
								<span>{{selectedService.serviceCode}}</span>
							</td>
						</tr>
					</table>		
				</td>
			</tr>
			<tr>
				<td>{{ 'label.plan.isprepaid' | translate }}</td>
				<td>{{plan.isPrepaid}}</td>
			</tr>
			
		</table>
	</div>
</div>
          