<div class="span gray-head" style="margin-left:0%;margin-top:5px;">
      <span style="margin-left: 10px;font-size:20px">
            <strong>About OBS</strong>
      </span>
</div>

<div class="form-horizontal">
    <div class="control-group">
        <hr/><br/>
         <table width="%100">
       	     <tr>
               <td width="30%" align="right">
                	<img src="./images/image_obslogo.png" alt="BillingX" width="100"/>
               </td>  
               <td >
               		<img src="./images/image_obs.png" alt="OPEN BILLING SYSTEM" width="550"/>
               </td>  
             </tr>
             <tr>
               <td colspan="2" align="center">
               		<br/>{{'label.product.version'|translate}}
               </td>
             </tr>
             <tr>
                <td colspan="2" align="center">
               		© 2013 Copyright Open Billing System
               </td>
             </tr>
              <tr>
                <td colspan="2">
               		<p>OBS is a enterprise level Recurring Billing & CRM system meant for 
               		   automating the subscription billing & entitlement management for 
               		   IPTV, VOD, OTT, PayTV, DTH, ISP & Cable operators.
               		</p>

               </td>
             </tr>
              <tr>
                <td colspan="2" >
               		<p>It supports all the processes which are essentially required by the 
               		    service operators from Customer Acquisition, Payments, 
               		    Service Entitlements to Customer Retention Management.
               		 </p>
               </td>
             </tr>
             <tr>
                <td colspan="2" >
               		<p>Each module are tightly integrated to ensure the information is 
               			shared across the modules for accurate information and to attain 
               			Customer satisfaction. Below are the features of each module of OBS.
               		</p>
               </td>
             </tr>
           </table>
             	<table width="100%">
             	  <tr align="left">
             		<th>Inventory & Logistics</th>
             		<th>Inventory & Logistics</th>
             	  </tr>
             	  <tr>
             	  	<td>
             	  	 <ul>
             	  	   <li>Define the Items with warranty and price, Supplier</li>
             	  	   <li>Buy the stock from supplier in to warehouse / office called as GRN</li>
             	  	   <li>Modify the Item details like Quality / Provisioning Details</li>
             	  	   <li>Item Sales to Agents Items Transfers to Offices</li>
             	  	 </ul>
             	  	</td>
             	  	<td>
             	  	 <ul>
             	  	   <li>Raise a Complaint / Ticket</li>
             	  	   <li>Edit the Ticket by user with additional Information</li>
             	  	   <li>Close the Resolved Tickets</li>
             	  	   <li>Create a New Prospect in the system</li>
             	  	   <li>Edit the Prospect with the follow up details</li>
             	  	   <li>Cancel the Prospect or Convert the prospect into a client</li>
             	  	 </ul>
             	  	</td>
             	  </tr>
             	  <tr align="left">
             		<th>Client & Portfolio</th>
             		<th>Billing & Finance</th>
             	  </tr>
             	  <tr>
             	  	<td>
             	  	 <ul>
             	  	   <li>Creating / Modifying a New Client, Adding the additional information like Address, 
             	  	   	   Identity, Documents, Credit Card Information and Note</li>
             	  	   <li>Booking Pre-paid and Postpaid orders Disconnection, Reconnection, Renewal 
             	  	   		After and Before Expiry, Extension, CAS Commands. Pairing and Un Pairing</li>
             	  	 </ul>
             	  	</td>
             	  	<td>
             	  	 <ul>
             	  	   <li>Charge codes are associated with tax Service and Plan, Region wise 
             	  	  		 Pricing Invoicing with Tax and without Payment Information</li>
             	  	   <li>Credit and Debit Adjustment</li>
             	  	 </ul>
             	  	</td>
             	  </tr>
             	   <tr align="left">
             		<th>Provisioning & Integrations</th>
             		<th>Administration & Reports</th>
             	  </tr>
             	  <tr>
             	  	<td>
             	  	 <ul>
             	  	   <li>CAS: Comvenient, NSTV</li>
             	  	   <li>ISP: 24Online, Packet Shaper, Netspan</li>
             	  	   <li>Middleware : Stalker, Beenius,Payment Gateways,Paypal One Time and 
             	  	   	Recurring CCAvenue Authorize.net,Mpesa, Tigo Pesa</li>
             	  	 </ul>
             	  	</td>
             	  	<td>
             	  	 <ul>
             	  	   <li>Bulk Data Uploads for Item Details, MRN, Payment, Client, Order,
             	  	   		 Credit and Debit Notes, Event & EPG</li>
             	  	   <li>Scheduler Jobs for Invoicing, Statement, Provisioning, Messaging 
             	  	   		(Email / SMS / OSD Notifications).</li>
             	  	 </ul>
             	  	</td>
             	  </tr>
            	</table>
    </div>
</div>

