 <div  data-ng-controller="CreatePlanMappingController" >
      <div>
        <ul class="breadcrumb">
          <li><a href="#/system">{{'link.admin.system' | translate}}</a> <span class="divider">/</span></li>
         <li><a href="#/mappingconfig">{{'label.planMapping' | translate}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.create.new.planMapping' | translate}}</li>
        </ul>
      </div>
       <div class="error" data-ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
      <form class="form-horizontal well" data-ng-submit="submit()">
        <fieldset>
          <legend>Create Plan Mapping</legend>
          <table>
         <tr><td>
           <div class="control-group">
            <label class="control-label" for="planCodes">{{'label.planCode' | translate }}&nbsp;<span class="required">*</span></label>
            <div class="controls">
              <select id="planId" data-ng-model="formData.planId"  data-ng-options="pc.id as pc.planCode for pc in planCodes">
              <option value="">{{'label.select.one' | translate}}</option>
              </select>
            </div>
           </div>
          </td></tr>
           
          <tr><td>
          <div class="control-group">
            <label class="control-label" for="planIdentification">{{'label.planIdentification' | translate }}&nbsp;<span class="required">*</span></label>
            <div class="controls">
              <input type="text" id="planIdentification" data-ng-model="formData.planIdentification">           
            </div>
          </div>
        </td></tr>
        
      <tr><td>
          <div class="control-group">
            <label class="control-label" for="status">{{'label.status' | translate }}&nbsp;<span class="required">*</span></label>
            <div class="controls">
                <select id="status" data-ng-model="formData.status"  data-ng-options="statusData.value as statusData.value for statusData in statusDatas">
              <option value="">{{'label.select.one' | translate}}</option>
              </select>
            </div>
          </div>
          </td></tr>
          
     <tr><td>
          <div class="control-group">
            <label class="control-label" for="image">{{'label.image' | translate }}</label>
            <div class="controls">
              <input type="text" id="image" data-ng-model="formData.image">
            </div>
          </div>
          </td></tr>
          
      <tr align="right"><td>
            <a href="#/mappingconfig"><button id="cancel" type="reset" class="btn" data-ng-click="reset123()">{{'button.cancel'| translate}}</button></a>
            <button id="submit" type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
         </td></tr> </table>
        </fieldset>
      </form>
</div>