
  <div data-ng-controller="CreateEnumController" >
      <div>
        <ul class="breadcrumb">
          <li><a href="#/system">{{'link.admin.system' | translate}}</a> <span class="divider">/</span></li>
         <li><a href="#/mappingconfig">{{'label.serviceMapping' | translate}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.create.enum' | translate}}</li>
        </ul>
      </div>
      
       <div class="error" data-ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
      <form class="form-horizontal well" data-ng-submit="submit()">
        <fieldset>
          <legend>{{'label.create.new.EventMapping' | translate}}</legend>
          
           <div class="control-group">
            <label class="control-label" for="event">{{'label.enum.enumname' | translate }}</label>
            <div class="controls">
              <select data-ng-model="formData.event"  data-ng-options="ad.mCodeValue as ad.mCodeValue for ad in eventDatas">
              <option value="">{{'label.select.one' | translate}}</option>
              </select>
            </div>
          </div>
            
          <div class="control-group">
            <label class="control-label" for="process">{{'label.enum.enumid' | translate }}</label>
            <div class="controls">
              <input type="text" id="process" data-ng-model="formData.process">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="process">{{'label.enum.msgproperty' | translate }}</label>
            <div class="controls">
              <input type="text" id="process" data-ng-model="formData.process" >
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="process">{{'label.enum.value' | translate }}</label>
            <div class="controls">
              <input type="text" id="process" data-ng-model="formData.process" >
            </div>
          </div>
          
          <div class="offset3">
            <a href="#/mappingconfig"><button type="reset" class="btn" data-ng-click="reset123()">{{'button.cancel'| translate}}</button></a>
            <button type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
          </div>
          
        </fieldset>
      </form>
</div>