<div data-ng-controller="CurrencyConfigController">
	<div>
        <ul class="breadcrumb">
          <li><a href="#/system">{{'link.admin.system' | translate}}</a> <span class="divider">/</span></li>
         <li><a href="#/mappingconfig">{{'label.serviceMapping' | translate}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.currencyconfig' | translate}}</li>
        </ul>
      </div>
    <div>
    
    <div>
    	<br>
        	<input class="form-control input-xxlarge" data-ng-model="selected" placeholder="New Currency" type="text"
             	data-typeahead="item as item.displayLabel for item in allCurrOptions | filter:$viewValue | limitTo:8" />
             	&nbsp;&nbsp;<a data-ng-click='addCur()'><i class="icon-plus"></i></a>

         	<div data-ng-repeat="currency in selectedCurrOptions">
    			<input data-disabled="" class="form-control input-xxlarge" placeholder={{currency.displayLabel}}} type="text"/>&nbsp;&nbsp;<a data-ng-click='deleteCur(currency.code)'><i class="icon-remove"></i></a>
            </div>
            
            <div class="offset5">
                <button id="cancel" type="reset" data-ng-click="cancel()" class="btn">{{'button.cancel' | translate}}</button>
                <button id="submit" type="submit" data-ng-click="submit()" class="btn btn-primary">{{'button.save' | translate}}</button>
            </div>
            
        </div>  
    </div>
</div>