<div>
	<ul class="breadcrumb">
        <li><a href="#/system">{{'link.admin.system' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.provision.provisioningsystem' | translate}}</li>
    </ul>
</div>
<form class="form-horizontal well" ng-controller="ProvisionController" ng-submit="submit()">
	<div class="error" ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label> 
		<label ng-show="errorStatus">{{errorStatus}}</label> 
		<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	</div>
	<fieldset>
		<div class="row-fluid" ng-show="provisionLogdatas">
			<div ng-show="ProcessingAdapter" class="control-group">
				<strong style="font-size: 20px;"> {{'label.provision.provisioningsystem' | translate}} : {{AdapterProvSystem}}</strong>
				<strong style="font-size: 20px;"class="offset3">{{'label.provision.status' | translate}} : {{adapterStatus}}</strong>
				<button ng-click="RunCommand('start')" class="btn btn-success" style="margin-left: 25px; padding: 10px 35px;" ng-show="adapterStatus=='Stopped'">Start</button>
				<button ng-click="RunCommand('stop')" class="btn btn-danger" style="margin-left: 25px; padding: 10px 35px;" ng-show="adapterStatus=='Running'">Stop</button>
			</div>
			<table class="table">
				<thead>
					<tr class="graybg">
						<th>File Name</th>
						<th>Date</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="provisionLogdata in provisionLogdatas ">
						<td>{{AdapterFileName}}</td>
						<td>{{provisionLogdata.dateName}}</td>
						<td><a ng-click="downloadLogFile(provisionLogdata.dateValue)" popover="Download Log File" 
						popover-trigger="mouseenter"><i class=" icon-download-alt icon-white"></i> </a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</fieldset>
</form>
